<div *ngIf="!fetching && !fetchFailed">
<div class="container mb-md-5 mt-5 pt-4 pb-3 shadow-box d-md-block px-3 p-0">
  <form [formGroup]="searchForm" class="flight-search">
    <div class="px-3">
      <div class="row pt-2" style="cursor: pointer;" (click)="openModalWithComponent()">
        <div class="col-lg-2 col-12">
          <label class="mb-0 font-weight-light">Residence Country</label>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon fa fa-map-marker"></i></span>
              </div>
              <input type="text" class="form-control" readonly [value]="searchQuoteListForm?.residenceCountry"
                     style="background:#fff;">
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-12">
          <label class="mb-0 font-weight-light">Country of Travel</label>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon fa fa-map-marker"></i></span>
              </div>
              <input type="text" class="form-control" readonly [value]="searchQuoteListForm?.countryOfTravel"
                     style="background:#fff;">
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-6">
          <label class="mb-0 font-weight-light">Traveling Date</label>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon fa fa-calendar-check-o"></i></span>
              </div>
              <input type="text" class="form-control" readonly [value]="searchQuoteListForm?.startDate | date"
                     style="background:#fff;">
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-6">
          <label class="mb-0 font-weight-light">Return Date</label>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon fa fa-calendar-check-o"></i></span>
              </div>
              <input type="text" class="form-control" readonly [value]="searchQuoteListForm?.endDate | date"
                     style="background:#fff;">
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-12">
          <label class="mb-0 font-weight-light">Travellers</label>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon fa fa-users"></i></span>
              </div>
              <input type="text" class="form-control" readonly
                     [value]="(searchQuoteListForm?.travellers.adt || 1) +' Adult, ' + (searchQuoteListForm?.travellers.chd || 0) + ' Child,' + (searchQuoteListForm?.travellers.inf || 0) + ' Infants'" style="background:#fff;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<main role="main">
<div class="we-body">
  <div class="container">
    <div class="row mt-2">
      <div class="col-12 d-block d-md-none mb-3">
        <div class="font-weight-bold mt-3">{{searchQuoteListForm?.residenceCountry}}</div>
        <div class="my-2">{{searchQuoteListForm?.startDate | date: 'MMM d'}} -
          {{searchQuoteListForm?.endDate | date: 'MMM d'}},
          {{searchQuoteListForm?.startDate | date: 'y'}}; Guest: {{(searchQuoteListForm?.travellers.adt || 1)}} adults, {{(searchQuoteListForm?.travellers.chd || 0)}} children, {{searchQuoteListForm?.travellers.inf || 0}} infant(s)</div>
        <div class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal"
             style="cursor: pointer;border: 1px solid;" (click)="openModalWithComponent()">
          CHANGE
        </div>
      </div>
      <div class="col-md-3 we-sort-filter">
        <!-- <div class="mb-4 d-none d-md-block">
          <img alt="map" class="img-fluid" src="assets/google-map.jpg">
        </div> -->
        <div class="mb-4">
          <h5 class=" border-bottom pl-3 pb-2"><i class="fa fa-list text-default"></i> Sort & Filter</h5>
          <div class="custom-control pl-0">
            <select name="" class="form-control custom-select">
              <option value="priceIncrease">Price( increase)</option>
              <option value="priceDecrease">Price( Decrease)</option>
              <option value="popularity">Popularity</option>
              <option value="new">New First</option>
              <option value="rating">Rating</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-9"  style="min-height: 500px;">
        <div *ngIf="fetchFailed" class="mb-5">
          <alert type="danger" ngPreserveWhitespaces>
            An error occurred:&emsp;<strong>{{errorMes}}</strong>
          </alert>
          <button type="button" class="btn btn-danger" (click)="fetchQuote()">Try Again</button>
          <!-- <button type="button" class="btn btn-danger">Try Again</button> -->
        </div>
       <div *ngIf="fetching" class="text-center mt-3 loading-space">
          <div class="spinner-border text-primary"></div> 
          <span ngPreserveWhitespaces>&emsp;Loading...</span> 
        </div>
        <div *ngIf="!fetching && !fetchFailed" class="hotels-list mx-2">
          <div *ngFor="let product of quoteResponse?.products |  paginate: { itemsPerPage: 10, currentPage: p }; let i = index;"
               class="row hotel-item py-3 mb-3">
            <div class="col-md-4">
              <div class="hotel-img-item">
                <img class="hotel-img" [errorImage]="defaultData" [defaultImage]="defaultData"
                     [lazyLoad]="'/assets/no-image'" [useSrcset]="true" />
              </div>
              <div class="pt-2 d-none d-md-block">{{product?.name}}</div>
              <!-- </div> -->
            </div>
            <div class="col-md-8 pl-md-0 pt-3 pt-md-0 hotel-info">
              <div class="row">
                <div class="col-8">
                  <h5 class="hotel-title">{{product?.name}}</h5>
                  <p style="font-size: 12px;"><i class="fa fa-map-marker"></i> {{quoteResponse?.context?.country}}</p>
                  <div class="d-none d-md-block">
                    <p style="color:#666666;font-size: 12px;margin-bottom:10px;line-height: 15px;">
                      Code: {{product?.guarantees[0]?.code}}
                    </p>
                    <p style="color:#666666;font-size: 12px;margin-bottom:10px;line-height: 15px;">
                      Label: {{product?.guarantees[0]?.label}}
                    </p>
                    <p style="color:#666666;font-size: 12px;margin-bottom:10px;line-height: 15px;">
                      Limit: {{product?.guarantees[0]?.limit}}
                    </p>
                    <p style="color:#666666;font-size: 12px;margin-bottom:10px;line-height: 15px;">
                      Excess: {{product?.guarantees[0]?.excess}}
                    </p>
                  </div>
                  <div style="color:#007864; font-size: 11px; margin-bottom:10px;">{{'None Refundable'}}</div>
                  <div style="color:#666666; font-size: 12px;">Terms & Conditions</div>
                </div>
                <div class="col-4 text-right">
                  <div class="mb-2 d-none d-md-block"><span class="hotel-price-from">{{0.2 | percent}}</span></div>
                  <del class="hotel-price-cancel d-none d-md-block">{{(product?.prices?.priceAfterDiscountInclTax /(0.8))| number:'.0-2'}}</del>
                  <span class="hotel-price mt-md-2">{{product?.prices?.priceAfterDiscountInclTax | currency:currency:'symbol':'.0-2'}}</span>
                <!-- <div style="margin-bottom:15px">{{product?.prices?.countryTaxes[0]?.name}} {{product?.prices?.countryTaxes[0]?.taxAmount}} {{quoteResponse?.context?.currency}}</div> -->
                  <button class="btn btn-danger btn-sm" (click)="goToCart(i)">Book Now</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <pagination-controls *ngIf="!fetching && !fetchFailed" (pageChange)="p = $event" directionLinks="true"
                             autoHide="true">
        </pagination-controls>
      </div>
    </div>
  </div>
  <div class="d-none d-lg-block we-ads">
    <img class="img-fluid" src="assets/ads.jpg">
  </div>
</div>
</main>
</div>
<!--skeleton loading-->
<div class="container mb-md-5 mt-5 pt-4 pb-3 shadow-box d-md-block px-3 p-0" *ngIf="fetching">
  <div class="row">
    <div class="col-12 d-block d-md-none">
      <div class="font-weight-bold my-4">
        <span class="sort-filter"> <ngx-skeleton-loader [theme]="{'background-color': '#ccc', 'height.px': 17, 'width': '30%'}"></ngx-skeleton-loader></span>
      </div>
    </div>
    <div class="col-md-2 we-sort-filter">
      <div class="mb-4 d-none d-md-block">
        <h5 class=" border-bottom pb-2"><ngx-skeleton-loader [theme]="{'background-color': '#ccc'}"></ngx-skeleton-loader></h5>
        <div class="custom-control pl-0">
          <ngx-skeleton-loader [theme]="{'background-color': '#ccc', 'height.px': 30}"></ngx-skeleton-loader>
        </div>
      </div>
      <div class="star-rating mb-4 d-none d-md-block">
        <h5 class=" border-bottom pl-0 pb-2"><ngx-skeleton-loader [theme]="{'background-color': '#ccc'}"></ngx-skeleton-loader></h5>
        <ngx-skeleton-loader [count]="2" [theme]="{'background-color': '#ccc', 'height.px': 15}"></ngx-skeleton-loader>
      </div>
      <div class="facility mb-4 d-none d-md-block">
        <h5 class="pb-2 border-bottom pl-0 pb-2"><ngx-skeleton-loader [theme]="{'background-color': '#ccc'}"></ngx-skeleton-loader></h5>
        <ngx-skeleton-loader [count]="4" [theme]="{'background-color': '#ccc', 'height.px': 15}"></ngx-skeleton-loader>
      </div>
      <div class="facility mb-4 d-none d-md-block">
        <h5 class="pb-2 border-bottom pl-0 pb-2"><ngx-skeleton-loader [theme]="{'background-color': '#ccc'}"></ngx-skeleton-loader></h5>
        <ngx-skeleton-loader [count]="4" [theme]="{'background-color': '#ccc', 'height.px': 15}"></ngx-skeleton-loader>
      </div>
    </div>
    <div class="col-md-8">
      <h1 class="flight-title mb-3" style="font-size:26px;">
        <ngx-skeleton-loader [theme]="{'background-color': '#ccc', 'height.px': 30, 'width': '40%'}"></ngx-skeleton-loader>
      </h1>
      <div class="row mb-4">
        <div class="col-4" style="padding-right: 0px;">
          <ngx-skeleton-loader [theme]="{'background-color': '#ccc', 'height.px': 59}"></ngx-skeleton-loader>
        </div>
        <div class="col-4" style="padding-right: 0px;padding-left: 0px;">
          <ngx-skeleton-loader [theme]="{'background-color': '#ccc', 'height.px': 59}"></ngx-skeleton-loader>
        </div>
        <div class="col-4" style="padding-left: 0px;">
          <ngx-skeleton-loader [theme]="{'background-color': '#ccc', 'height.px': 59}"></ngx-skeleton-loader>
        </div>
      </div>
      <div class="flights-list">
        <div class="flight-item mb-3">
          <div class="row">
            <div class="col-md-5 col-7">
              <div class="px-3 pt-3">
                <h5 class="flight-title">
                  <ngx-skeleton-loader [theme]="{'background-color': '#ccc', 'height.px': 25, 'width': '30%', 'margin-bottom.px': 0}"></ngx-skeleton-loader>
                </h5>
                <p class="title">
                  <ngx-skeleton-loader [theme]="{'background-color': '#ccc', 'height.px': 15, 'width': '50%'}"></ngx-skeleton-loader>
                </p>
              </div>
            </div>
            <div class="col-md-3 d-none d-md-block px-3 pt-3">
              <ngx-skeleton-loader [theme]="{'background-color': '#ccc', 'height.px': 40, 'width': '50%'}"></ngx-skeleton-loader>
            </div>
            <div class="col-md-4 col-5">
              <div class="text-right p-3 pr-4">
                <span>
                   <ngx-skeleton-loader [theme]="{'background-color': 'rgb(0, 25, 89)', 'height.px': 25, 'width': '50%', 'margin-bottom.px': 0}"></ngx-skeleton-loader>
                </span><br>
                <p style="font-size: 12px;">
                  <ngx-skeleton-loader [theme]="{'background-color': '#ccc', 'height.px': 10, 'margin-bottom.px': 0}"></ngx-skeleton-loader>
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9">
              <div class="px-3 pb-md-3">
                <ngx-skeleton-loader [theme]="{'background-color': '#ccc', 'height.px': 42, 'width': '90%', 'margin-bottom.px': 0}"></ngx-skeleton-loader>
              </div>
            </div>
            <div class="col-md-3">
              <div class="text-right pt-md-0 p-3 pr-4">
                <ngx-skeleton-loader [theme]="{'background-color': 'rgb(10, 48, 73)', 'height.px': 38, 'width.px': 80}"></ngx-skeleton-loader>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 collapsed">
              <p class="px-3 py-2 m-0" style="background:#eee; color:#007864; cursor:pointer;">
                <span><ngx-skeleton-loader [theme]="{'background-color': '#ccc', 'height.px': 17, 'width.px': 93.58 , 'margin-bottom.px': 0}"></ngx-skeleton-loader></span>
                <span class="float-right"><ngx-skeleton-loader [theme]="{'background-color': '#ccc', 'height.px': 21, 'width.px': 76.52 , 'margin-bottom.px': 0}"></ngx-skeleton-loader></span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 d-none d-md-block">
      <ngx-skeleton-loader [theme]="{'height.px': 600, 'width.px': 160, 'background-color': '#ccc'}"></ngx-skeleton-loader>
    </div>
  </div>
</div>
<!-- </main> -->
