<div class="container mt-3 pb-3">
  <div class="row">
    <div class="col-12" style="word-wrap: normal;">
      <h4>{{'terms-and-conditions.label-title' | translate }}</h4>
      <p>{{'terms-and-conditions.paragraph-one' | translate }} {{'terms-and-conditions.paragraph-two' | translate }}</p>

      <h4>{{'terms-and-conditions.label-contract' | translate }}</h4>
      <p>{{'terms-and-conditions.contract-one' | translate }}{{'terms-and-conditions.contract-two' | translate }}{{'terms-and-conditions.contract-three' | translate }}
        {{'terms-and-conditions.contract-four' | translate }}{{'terms-and-conditions.contract-five' | translate }}{{'terms-and-conditions.contract-six' | translate }}
        {{'terms-and-conditions.contract-seven' | translate }}
      </p>

      <h4>{{'terms-and-conditions.label-available' | translate }}</h4>
      <p>{{'terms-and-conditions.available-one' | translate }}{{'terms-and-conditions.available-two' | translate }}</p>

      <h4>{{'terms-and-conditions.label-booking' | translate }}</h4>
      <p>{{'terms-and-conditions.booking-one' | translate }}{{'terms-and-conditions.booking-two' | translate }}{{'terms-and-conditions.booking-three' | translate }}
        {{'terms-and-conditions.booking-four' | translate }}{{'terms-and-conditions.booking-five' | translate }}{{'terms-and-conditions.booking-six' | translate }}
      </p>

      <h4> {{'terms-and-conditions.label-payment' | translate }}</h4>
      <p> {{'terms-and-conditions.payment-one' | translate }} {{'terms-and-conditions.payment-two' | translate }} </p>

      <h4>{{'terms-and-conditions.label-amendment' | translate }}</h4>
      <p>{{'terms-and-conditions.amendment-one' | translate }}{{'terms-and-conditions.amendment-two' | translate }} </p>

      <h4>{{'terms-and-conditions.label-disability' | translate }}</h4>
      <p> {{'terms-and-conditions.disability-one' | translate }} {{'terms-and-conditions.disability-two' | translate }} </p>

      <h4>{{'terms-and-conditions.label-insurance' | translate }} </h4>
      <p> {{'terms-and-conditions.insurance-one' | translate }} {{'terms-and-conditions.insurance-two' | translate }} </p>

      <h4>{{'terms-and-conditions.label-documents' | translate }}</h4>
      <p> {{'terms-and-conditions.documents-one' | translate }} {{'terms-and-conditions.documents-two' | translate }} </p>

      <h4>{{'terms-and-conditions.label-passport' | translate }}</h4>
      <p> {{'terms-and-conditions.passport-one' | translate }} {{'terms-and-conditions.passport-two' | translate }}
        {{'terms-and-conditions.passport-three' | translate }} {{'terms-and-conditions.passport-four' | translate }}
      </p>

      <h4>{{'terms-and-conditions.label-arrangements' | translate }}</h4>
      <p> {{'terms-and-conditions.arrangements-one' | translate }} {{'terms-and-conditions.arrangements-two' | translate }}</p>

      <h4>{{'terms-and-conditions.label-complaints' | translate }}</h4>
      <p>{{'terms-and-conditions.complaints-one' | translate }} {{'terms-and-conditions.complaints-two' | translate }} {{'terms-and-conditions.complaints-three' | translate }}</p>
    </div>
  </div>
</div>
