<div class="card card-outline card-primary">
    <div class="card-header">
      <h3 class="card-title">{{'wallet-deposit-funds.deposit-title' | translate }}</h3>
      <div class="card-tools">
        <button type="button" class="btn btn-tool" (click)="isCollapsed = !isCollapsed">
          <i *ngIf="!isCollapsed" class="fas fa-minus"></i>
          <i *ngIf="isCollapsed" class="fas fa-plus"></i>
        </button>
        <button type="button" class="btn btn-tool" data-card-widget="remove">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
    <div [collapse]="isCollapsed" [isAnimated]="true">
      <div class="card-body">
        <div *ngIf="fetchFailed" class="mb-5 mt-3">
          <alert type="danger" ngPreserveWhitespaces>
            {{'wallet-deposit-funds.error-message' | translate }}&emsp;<strong>{{errorMes}}</strong>
          </alert>
        </div>
        <form [formGroup]="depositForm" class="form-horizontal clearfix" (ngSubmit)="depositNext()">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-sm-right">{{'wallet-deposit-funds.deposit-country' | translate }}</label>
            <div class="col-sm-4">
              <input formControlName="country" class="form-control" readonly/>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-sm-right">{{'wallet-deposit-funds.deposit-currency' | translate }}</label>
            <div class="col-sm-4">
              <input formControlName="currency" class="form-control" readonly/>
            </div>
          </div>
  
          <div class="form-group row">
            <label class="col-4 col-form-label text-sm-right">{{'wallet-deposit-funds.deposit-amount' | translate }}</label>
            <div class="col-sm-4">
              <input type="text" formControlName="amount" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label text-sm-right">{{'wallet-deposit-funds.deposit-payment-option' | translate }}</label>
            <div class="col-sm-4">
              <select class="form-control" id="type" formControlName="paymentOption"
                [ngClass]="{ 'is-invalid': formSubmitError && depositForm.get('paymentOption').errors }">
                  <option value="">{{'wallet-deposit-funds.deposit-select-payment' | translate }}</option>
                  <option *ngFor="let option of allDepositOption" 
                  [value]="option?.id">{{option?.displayName}} ({{option?.type}})</option>
                  <!-- <option  value="TEST">TEST</option>
                  <option  value="TEST">TEST</option>
                  <option  value="TEST">TEST</option> -->
                </select>
                <span class="invalid-feedback">
                  <span *ngIf="depositForm.get('paymentOption').errors?.required">
                    {{'wallet-deposit-funds.deposit-invalid-option' | translate }}
                  </span>
                </span>
            </div>
          </div>
          <div class="box-footer clearfix">
            <div class="pull-left">
              <button type="button" class="btn btn-primary" (click) = "depositBack()">{{'wallet-deposit-funds.deposit-back' | translate }}</button>
            </div>
            <div class="pull-right">
              <button type="submit" class="btn btn-success" [disabled] = "fetchFailed">{{'wallet-deposit-funds.deposit-next' | translate }}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  