customer-photo {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-size: 32px 35px;
  background-position: center center;
  vertical-align: middle;
  line-height: 32px;
  box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
  margin-left: 5px;
}

.customer-name {
  display: inline-block;
  vertical-align: middle;
  line-height: 32px;
  padding-left: 10px;
}

.red {
  color: #d9534f;
}

.text-bold {
  font-weight: 600;
}

.text-container {
  word-break: break-word;
}

::ng-deep .dropdown-menu {
  max-width: none !important;
}
.k-dateinput {
  font-size: 18px;
  background-color: #eeeeee !important;
}
.k-dateinput-wrap {
  background-color: #eeeeee !important;
}
::ng-deep .k-input-inner{
  width: 100% !important;
  border: 0.888889px solid rgb(206, 212, 218) !important;
  height: 100% !important;
  background-color: transparent;
}
