<div class="bgimage">
    <div class="container pt-5" style="min-height: 500px; width: 100%;">
        <div class="row py-5 mt-5">
            <div [formGroup]="resetForm" class="col-10" *ngIf="!forgetRes">
                <div class="form-group">
                    <label>{{'new-password.label-password' | translate }}</label>
                    <input class="form-control" type="password" formControlName="password" autocomplete="false"
                        [ngClass]="{ 'is-invalid': formSubmitError && resetForm.get('password').errors }" [readOnly]="invalidToken"/>
                    <span class="invalid-feedback">
                        <span *ngIf="resetForm.get('password').errors?.required">
                            {{'new-password.invalid-password-input' | translate }}
                        </span>
                    </span>
                </div>
                <div class="form-group">
                    <label>{{'new-password.label-confirm-password' | translate }}</label>
                    <input class="form-control" type="password" formControlName="confirmPassword" [readOnly]="invalidToken"
                        [ngClass]="{ 'is-invalid': formSubmitError && (resetForm.get('confirmPassword').errors || resetForm?.errors) }" />
                    <span class="invalid-feedback">
                        <span *ngIf="resetForm.get('confirmPassword').errors?.required">
                            {{'new-password.invalid-confirm-password-input' | translate }}
                        </span>
                        <span *ngIf="resetForm?.errors?.match">
                            {{'new-password.password-mismatch' | translate }}
                        </span>
                    </span>
                </div>
                <div class="col-10">
                    <div *ngIf="failure || invalidToken">
                        <alert type="danger" [dismissible]="dismissible" ngPreserveWhitespaces>
                            <!-- <strong> -->
                            {{errorMessage}}
                            <!-- </strong> -->
                        </alert>
                    </div>
                    <div *ngIf="fetching && !failure" class="text-center mt-3 loading-space">
                        <div class="spinner-border text-primary"></div>
                    </div>
                    <button class="btn btn-danger mb-3 mt-2" type="button" (click)="resetPassword()"
                        [disabled]="fetching || invalidToken"> {{'new-password.button-password' | translate }}</button>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center py-5" *ngIf="forgetRes">
            <div class="rol-10">
                <alert type="success" [dismissible]="dismissible" ngPreserveWhitespaces>
                    <!-- <strong> -->
                    {{forgetRes?.message}}
                    <!-- </strong> -->
                </alert>
                <a routerLink="/">
                    <h4 class="text-center" ngPreserveWhitespaces><i class="fa fa-arrow-left"></i>&emsp; {{'new-password.back-button' | translate }}
                    </h4>
                </a>
            </div>
        </div>
    </div>
</div>