<div class="bgimage">
    <div class="container pt-5" style="min-height: 500px; width: 100%;">
        <div class="row py-5 mt-5" *ngIf="!forgetRes">
            <form [formGroup]="resetForm" class="col-10">
              <div class="col-10">
                <label for="email">{{'forgot-password.label-email' | translate }}</label>
                <div class="form-group">
                  <input type="email" formControlName="email" name="email" class="form-control mb-2"
                    placeholder="{{'forgot-password.placeholder-email' | translate }}" autofocus style="padding: 8px 10px;"
                    (keyup.enter)="forgetPassword()"
                    [ngClass]="{ 'is-invalid': formSubmitError && resetForm.get('email').errors }">
                  <span class="invalid-feedback">
                    <span *ngIf="resetForm.get('email').errors?.required">
                      {{'forgot-password.invalid-email-input' | translate }}
                    </span>
                    <span *ngIf="resetForm.get('email').errors?.email">
                      {{'forgot-password.incorrect-email' | translate }}
                    </span>
                  </span>
                </div>
                <div *ngIf="failure">
                  <alert type="danger" [dismissible]="dismissible" ngPreserveWhitespaces>
                    <!-- <strong> -->
                      {{errorMessage}}
                    <!-- </strong> -->
                  </alert>
                </div>
                <div *ngIf="fetching && !failure" class="text-center mt-3 loading-space">
                  <div class="spinner-border text-primary"></div>
                </div>
                <button class="btn btn-danger mb-3 mt-2" type="button" (click)="forgetPassword()" [disabled]="fetching"> {{'forgot-password.button-email' | translate }}</button>
              </div>
            </form>
        </div>
        <div class="row justify-content-md-center py-5" *ngIf="forgetRes">
          <div class="rol-10">
            <alert type="success" [dismissible]="dismissible" ngPreserveWhitespaces>
              <!-- <strong> -->
                {{forgetRes?.message}}
              <!-- </strong> -->
            </alert>
            <a routerLink="/">
              <h4 class="text-center" ngPreserveWhitespaces><i class="fa fa-arrow-left"></i>&emsp; {{'forgot-password.back-button' | translate }}
              </h4>
            </a>
          </div>
        </div>
    </div>
</div>