<main-header></main-header>
<div *ngIf="!isLoading" class="container my-md-5 mt-5 pt-5 pb-3 col-lg-8 offset-lg-2">
  <h3>{{'hotel-bookings.label-title' | translate }}</h3>
  <div class="row mt-3 shadow-box">
    <div class="col-md-12">
      <form [formGroup]="searchForm" (ngSubmit)="searchHistory()">
        <div class="row my-3">
          <div class="col-lg-3 col-6">
            <label class="m-0 font-weight-light">{{'hotel-bookings.label-from' | translate }}</label>
            <div class="form-group mb-0">
              <div class="input-group checkinDate">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon fa fa-calendar-check-o"></i></span>
                </div>
                <input type="text" ngbDatepicker #checkin="ngbDatepicker" class="form-control" formControlName="fromDate"
                       (click)="checkin.toggle()" (dateSelect)="getFromDate($event)" placement="bottom" placeholder="MM/DD/YYYY">
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <label class="m-0 font-weight-light">{{'hotel-bookings.label-to' | translate }}</label>
            <div class="form-group mb-0">
              <div class="input-group checkoutDate">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon fa fa-calendar-check-o"></i></span>
                </div>
                <input type="text" ngbDatepicker #checkout="ngbDatepicker" class="form-control" formControlName="toDate" [startDate]="fromDate" [minDate]="fromDate"
                       (click)="checkout.toggle()" placeholder="DD/MM/YYYY" (dateSelect)="getToDate($event)" placement="bottom"/>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-12 pt-1">
            <input type="submit" class="btn btn-danger mt-3" value="Refresh">
          </div>
        </div>
      </form>
      <p>{{'hotel-bookings.label-rule' | translate }}.</p>
      <!-- Hotel booking -->
      <div *ngIf="userBooking.length === 0">
        <div *ngIf="!agentBooking || agentBooking?.length === 0">
          <alert type="danger" ngPreserveWhitespaces>
            {{'hotel-bookings.label-no-record' | translate }}
          </alert>
        </div>
      </div>
      <div class="hotel-item shadow-box1 bg-white mb-3" *ngFor="let booking of userBooking; let i = index">
        <div class="row d-flex p-3">
          <div class="col-md-4">
            <img [lazyLoad]="booking.hotelInfo?.image?.baseUrl+ '/' + booking.hotelInfo?.image?.name" [useSrcset]="true" [errorImage]="defaultData" [defaultImage]="defaultData"
                 class="img-fluid rounded" (error)="onImgError($event)" alt="{{booking?.hotelInfo?.name}}">
          </div>
          <div class="col-md-8 pt-3 pt-md-0">
            <div class="row">
              <div class="col-8">
                <h5 class="hotel-title">{{booking?.hotelInfo?.name}}</h5>
                <div class="mt-2"> {{'hotel-bookings.label-ref' | translate }} {{booking?.id}}</div>
                <div class="my-2">
                  <span>{{booking?.checkInDate | date : 'mediumDate'}}</span> -
                  <span>{{booking?.checkOutDate | date : 'mediumDate'}}</span>
                 <!-- <span class="ml-md-4">Malmö</span> -->
                </div>
                <div>{{booking.status}}</div>
                <div id="collapse{{i}}" class="collapse text-dark mt-3" [collapse]="isCollapsedUser[i]" [isAnimated]="true">
                  <div class="font-weight-bold">{{'hotel-bookings.label-for' | translate }}</div>
                  <div class="mb-2">{{booking?.checkInDate | date : 'mediumDate'}}<i class="fas fa-arrow-right mx-2"></i>
                    {{booking?.checkOutDate | date : 'mediumDate'}}</div>
                    <p class="m-0"><span class="font-weight-bold">{{'hotel-bookings.label-createdDate' | translate }} </span> {{booking?.createDate  | date : 'mediumDate'}}</p>
                  <div class="mb-2">
                      <span class="font-weight-bold">{{'hotel-bookings.label-address' | translate }} </span> <span> {{booking?.hotelInfo?.address}}</span>, <span> {{booking?.city?.cityName}}</span> ,
                      <span>{{booking?.city?.countryName}}</span>
                  </div>
                  <div *ngFor="let room of booking?.roomDetails?.roomDetails; let i = index">
                    <div>{{'hotel-bookings.label-room' | translate }} {{i + 1}} <span class="text-danger">{{room.roomRate.pricePerNight[0] | currency:booking.currency:'symbol':'.0-2'}}
                      x {{getDays(booking.item_price, room.roomRate.pricePerNight[0]) | number: '1.0-0'}} {{'hotel-bookings.label-days' | translate }}</span></div>
                    <div>
                        <span>{{'hotel-bookings.label-adults' | translate }} </span> <span> {{room.adultCount}}</span><span>    {{'hotel-bookings.label-children' | translate }} </span> <span>{{room.childCount}}</span>
                     </div>
                      <div escapse="false" [innerHTML]="room.roomDescription"></div>
                    <div class="dropdown-divider"></div>
                  </div>
                  <div class="d-flex justify-content-between">
                    <div class="font-weight-bold">{{'hotel-bookings.label-taxes' | translate }} </div>
                    <div>{{0 | currency:currency:'symbol':'.0-2'}}</div>
                  </div>
                  <div class="d-flex justify-content-between">
                    <div class="font-weight-bold">{{'hotel-bookings.label-total' | translate }} </div>
                    {{booking?.item_price | currency:booking?.currency:'symbol':'.0-2'}}
                  </div>
                </div>
                <div id="collapseRefund{{i}}" [collapse]="isCollapseRefund[i]" [isAnimated]="true" class="collapse text-dark mt-3">
                  <p>{{'hotel-bookings.label-cancellation' | translate }}  <span class="text-success font-weight-bold">{{'hotel-bookings.free' | translate }} </span></p>
                  <div class="row no-gutters text-center mt-5">
                    <div class="col-6 border-left border-right border-dark position-relative pb-3">
                      <div [ngClass]="isFreeCancel[i] ? 'bg-success text-white' : 'bg-light text-dark'">{{'hotel-bookings.label-partial' | translate }} </div>
                      <span *ngIf="isFreeCancel[i]" class="border border-dark bg-white rounded free-cancel-now px-4"><span class="arrow-down"></span> {{'hotel-bookings.label-now' | translate }} </span>
                    </div>
                    <div class="col-6 border-right border-dark position-relative pb-3">
                      <div [ngClass]="isPartialRefund[i] ? 'bg-success text-white' : 'bg-light text-dark'">{{'hotel-bookings.label-partial' | translate }} </div>
                      <span *ngIf="isPartialRefund[i]" class="border border-dark bg-white rounded free-cancel-now px-4"><span class="arrow-down"></span> {{'hotel-bookings.label-now' | translate }} </span>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between mb-3">
                    <div>
                     {{booking?.createDate | date : 'MMM d'}} <br>
                     {{'hotel-bookings.label-booked' | translate }}
                    </div>
                    <div class="text-center">
                      {{getFreeCancelTime(booking?.cancelPoliciesInfos?.cancelPolicyInfos[0]?.cancelTime) | date : 'MMM d'}} 23:59 PM <br>
                      {{'hotel-bookings.label-saranda' | translate }}
                    </div>
                    <div class="text-right">
                      {{booking.checkInDate | date : 'MMM d'}} <br>
                      {{'hotel-bookings.label-check-in' | translate }}
                    </div>
                  </div>
                  <div class="row small">
                    <div class="col-md-8">
                      <p> {{'hotel-bookings.risk' | translate }}
                        {{getFreeCancelTime(booking?.cancelPoliciesInfos?.cancelPolicyInfos[0]?.cancelTime) | date : 'MMM d yyyy'}} {{'hotel-bookings.label-pay-nothing' | translate }}</p>
                      <p>{{'hotel-bookings.label-cancellaton-rule' | translate }}/p>
                      <p>{{'hotel-bookings.label-no-cancellation' | translate }}</p>
                    </div>
                    <div class="col-md-4">
                      <div class="text-primary text-right" style="cursor: pointer" (click)="goToCancelBookingPage(booking)">{{'hotel-bookings.label-cancel' | translate }}</div>
                    </div>
                  </div>
                </div>
                <div id="collapseNonRefund{{i}}" [collapse]="isCollapseNonRefund[i]" [isAnimated]="true" class="collapse text-dark mt-3">
                  <p>{{'hotel-bookings.label-cancellation-option' | translate }}  <span class="text-danger font-weight-bold">{{'hotel-bookings.label-non-refundable' | translate }}</span></p>
                  <div class="row no-gutters text-center mt-5">
                    <div class="col-12 border-left border-right border-dark position-relative pb-3">
                      <div class="bg-danger text-white">{{'hotel-bookings.label-non-refundable' | translate }}</div>
                      <span class="border border-dark bg-white rounded free-cancel-now px-4"><span class="arrow-down"></span> {{'hotel-bookings.now' | translate }}</span>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between mb-3">
                    <div>
                      {{booking?.createDate | date : 'MMM d'}} <br>
                      {{'hotel-bookings.label-booked' | translate }}
                    </div>
                    <div class="text-right">
                      {{booking.checkInDate | date : 'MMM d'}} <br>
                      {{'hotel-bookings.label-check-in' | translate }}
                    </div>
                  </div>
                  <div class="row small">
                    <div class="col-md-8">
                      <p>{{'hotel-bookings.label-not-amended' | translate }} </p>
                      <p>{{'hotel-bookings.label-arrival-cancellation' | translate }} </p>
                    </div>
                    <div class="col-md-4">
                      <div class="text-primary text-right" style="cursor: pointer" (click)="goToCancelBookingPage(booking)">{{'hotel-bookings.label-cancel' | translate }} </div>
                    </div>
                  </div>
                </div>
                <div id="collapseCancelled{{i}}" [collapse]="isCollapseCancelled[i]" [isAnimated]="true" class="collapse text-dark mt-3">
                  <hr>
                  <p class="small">{{'hotel-bookings.label-hi' | translate }} {{booking?.payer?.firstName}} {{booking?.payer?.lastName}},</p>
                  <p class="small">{{'hotel-bookings.label-confirmation' | translate }}</p>
                  <p class="small">{{'hotel-bookings.label-cancellaton-rule' | translate }}</p>
                  <p class="small">{{'hotel-bookings.label-booking-us' | translate }}</p>
                  <a class="btn btn-danger mt-3 mx-auto d-block" routerLink="/dashboard/hotel">{{'hotel-bookings.label-another-booking' | translate }}</a>
                </div>
                <div class="d-flex justify-content-between pr-lg-5 mt-5">
                  <div (click)="deleteRecord(booking)" style="cursor: pointer"> {{'hotel-bookings.button-delete' | translate }}</div>
                  <div style="cursor: pointer" class="mx-3" [attr.aria-expanded]="!isCollapseRefund[i] || !isCollapseCancelled[i] || !isCollapseNonRefund[i]" (click)="viewCancelOption(booking, i, 'user')">{{'hotel-bookings.button-cancel' | translate }}</div>
                  <div style="cursor: pointer"> {{'hotel-bookings.button-print' | translate }}</div>
                </div>
              </div>
              <div class="col-4 text-right d-flex flex-column justify-content-between">
                <span class="hotel-price font-weight-bold mt-md-2">
                  {{booking?.item_price | currency:booking?.currency:'symbol':'.0-2'}}
                </span>
                <div style="color:#007864;cursor: pointer;" (click)="viewDetail(booking, i, 'user')"
                     [attr.aria-expanded]="!isCollapsedUser[i]">
                     {{'hotel-bookings.label-details' | translate }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--list hotel booking, agent for this user -->
      <div class="hotel-item shadow-box1 bg-white mb-3" *ngFor="let booking of agentBooking; let i = index">
        <div class="row d-flex p-3">
          <div class="col-md-4">
            <img [lazyLoad]="booking.hotelInfo?.image?.baseUrl+ '/' + booking?.hotelInfo?.image?.name" [useSrcset]="true" [errorImage]="defaultData" [defaultImage]="defaultData"
                 class="img-fluid rounded" (error)="onImgError($event)"  alt="{{booking?.hotelInfo?.name}}">
          </div>
          <div class="col-md-8 pt-3 pt-md-0">
            <div class="row">
              <div class="col-8">
                <h5 class="hotel-title">{{booking?.hotelInfo?.name}}</h5>
                <div class="mt-2">{{'hotel-bookings.label-ref' | translate }} {{booking?.id}}</div>
                <div class="my-2">
                  <span>{{booking?.checkInDate | date : 'mediumDate'}}</span> -
                  <span>{{booking?.checkOutDate | date : 'mediumDate'}}</span>
                   <!-- <span class="ml-md-4">Malmö</span> -->
                </div>
                <div>{{booking.status}}</div>
                <div id="collapseAgent{{i}}" [collapse]="isCollapsedAgent[i]" [isAnimated]="true" class="collapse text-dark mt-3" >
                  <div class="font-weight-bold">{{'hotel-bookings.label-for' | translate }} </div>
                  <div class="mb-2">{{booking?.checkInDate | date : 'mediumDate'}}<i class="fas fa-arrow-right mx-2"></i>
                    {{booking?.checkOutDate | date : 'mediumDate'}}</div>
                    <p class="m-0"><span class="font-weight-bold">{{'hotel-bookings.label-createdDate' | translate }} </span> {{booking?.createDate  | date : 'mediumDate'}}</p>
                  <div class="mb-2">
                      <span class="font-weight-bold">{{'hotel-bookings.label-address' | translate }} </span> <span> {{booking?.hotelInfo?.address}}</span>, <span> {{booking?.city?.cityName}}</span> ,
                      <span>{{booking?.city?.countryName}}</span>
                  </div>
                  <div *ngFor="let room of booking.roomDetails.roomDetails; let i = index">
                    <div>{{'hotel-bookings.label-room' | translate }} {{i + 1}} <span class="text-danger">{{room.roomRate.pricePerNight[0] | currency:booking.currency:'symbol':'.0-2'}}
                      x {{getDays(booking.amount, room.roomRate.pricePerNight[0]) | number: '1.0-0'}} {{'hotel-bookings.label-days' | translate }}</span></div>
                      <div>
                        <span>{{'hotel-bookings.label-adults' | translate }} </span> <span> {{room.adultCount}}</span><span>    {{'hotel-bookings.label-children' | translate }} </span> <span>{{room.childCount}}</span>
                     </div>
                      <div escapse="false" [innerHTML]="room.roomDescription"></div>
                    <div class="dropdown-divider"></div>
                  </div>
                  <div class="d-flex justify-content-between">
                    <div class="font-weight-bold">{{'hotel-bookings.label-taxes' | translate }}</div>
                    <div>{{0 | currency:currency:'symbol':'.0-2'}}</div>
                  </div>
                  <div class="d-flex justify-content-between">
                    <div class="font-weight-bold">{{'hotel-bookings.label-total' | translate }}</div>
                    {{booking?.item_price | currency:booking?.currency:'symbol':'.0-2'}}
                  </div>
                </div>
                <div id="collapseRefundAgent{{i}}" [collapse]="isCollapseRefundAgent[i]" [isAnimated]="true" class="collapse text-dark mt-3">
                  <p>{{'hotel-bookings.label-cancellation' | translate }} <span class="text-success font-weight-bold">{{'hotel-bookings.label-free' | translate }}</span></p>
                  <div class="row no-gutters text-center mt-5">
                    <div class="col-6 border-left border-right border-dark position-relative pb-3">
                      <div [ngClass]="isFreeCancel[i] ? 'bg-success text-white' : 'bg-light text-dark'">{{'hotel-bookings.label-cancellation-free' | translate }}</div>
                      <span *ngIf="isFreeCancel[i]" class="border border-dark bg-white rounded free-cancel-now px-4"><span class="arrow-down"></span> {{'hotel-bookings.label-now' | translate }}</span>
                    </div>
                    <div class="col-6 border-right border-dark position-relative pb-3">
                      <div [ngClass]="isPartialRefund[i] ? 'bg-success text-white' : 'bg-light text-dark'">{{'hotel-bookings.label-partial' | translate }}</div>
                      <span *ngIf="isPartialRefund[i]" class="border border-dark bg-white rounded free-cancel-now px-4"><span class="arrow-down"></span> {{'hotel-bookings.label-now' | translate }}</span>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between mb-3">
                    <div>
                      {{booking?.createDate | date : 'MMM d'}} <br>
                      {{'hotel-bookings.label-booked' | translate }}
                    </div>
                    <div class="text-center">
                      {{getFreeCancelTime(booking?.cancelPoliciesInfos?.cancelPolicyInfos[0]?.cancelTime) | date : 'MMM d'}} 23:59 PM <br>
                      {{'hotel-bookings.label-saranda' | translate }}
                    </div>
                    <div class="text-right">
                      {{booking.checkInDate | date : 'MMM d'}} <br>
                      {{'hotel-bookings.label-check-in' | translate }}
                    </div>
                  </div>
                  <div class="row small">
                    <div class="col-md-8">
                      <p>{{'hotel-bookings.risk' | translate }}
                        {{getFreeCancelTime(booking?.cancelPoliciesInfos?.cancelPolicyInfos[0]?.cancelTime) | date : 'MMM d yyyy'}} {{'hotel-bookings.label-pay-nothing' | translate }}</p>
                      <p>{{'hotel-bookings.label-cancellaton-rule' | translate }}</p>
                      <p>{{'hotel-bookings.label-no-cancellation' | translate }}</p>
                    </div>
                    <div class="col-md-4">
                      <div class="text-primary text-right" style="cursor: pointer" (click)="goToCancelBookingPage(booking)">{{'hotel-bookings.label-cancel' | translate }}</div>
                    </div>
                  </div>
                </div>
                <div id="collapseNonRefundAgent{{i}}" [collapse]="isCollapseNonRefundAgent[i]" [isAnimated]="true" class="collapse text-dark mt-3">
                  <p>{{'hotel-bookings.label-cancellation-option' | translate }} <span class="text-danger font-weight-bold">{{'hotel-bookings.label-non-refundable' | translate }}</span></p>

                  <div class="row no-gutters text-center mt-5">
                    <div class="col-12 border-left border-right border-dark position-relative pb-3">
                      <div class="bg-danger text-white">{{'hotel-bookings.label-non-refundable' | translate }}</div>
                      <span class="border border-dark bg-white rounded free-cancel-now px-4"><span class="arrow-down"></span> {{'hotel-bookings.label-now' | translate }}</span>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between mb-3">
                    <div>
                      {{booking?.createDate | date : 'MMM d'}} <br>
                      {{'hotel-bookings.label-booked' | translate }}
                    </div>
                    <div class="text-right">
                      {{booking.checkInDate | date : 'MMM d'}} <br>
                      {{'hotel-bookings.label-check-in' | translate }}
                    </div>
                  </div>
                  <div class="row small">
                    <div class="col-md-8">
                      <p>{{'hotel-bookings.label-not-amended' | translate }}</p>
                      <p>{{'hotel-bookings.label-arrival-cancellation' | translate }}</p>
                    </div>
                    <div class="col-md-4">
                      <div class="text-primary text-right" style="cursor: pointer" (click)="goToCancelBookingPage(booking)">{{'hotel-bookings.label-cancel' | translate }}</div>
                    </div>
                  </div>
                </div>
                <div id="collapseCancelledAgent{{i}}" [collapse]="isCollapseCancelledAgent[i]" [isAnimated]="true" class="collapse text-dark mt-3">
                  <hr>
                  <p class="small">{{'hotel-bookings.label-hi' | translate }} {{booking?.payer?.firstName}} {{booking?.payer?.lastName}},</p>
                  <p class="small">{{'hotel-bookings.label-confirmation' | translate }}</p>

                  <p class="small">{{'hotel-bookings.label-cancellaton-rule' | translate }}</p>

                  <p class="small">{{'hotel-bookings.label-booking-us' | translate }}</p>

                  <a class="btn btn-danger mt-3 mx-auto d-block" routerLink="/dashboard/hotel">{{'hotel-bookings.label-another-booking' | translate }}</a>
                </div>
                <div class="d-flex justify-content-between pr-lg-5 mt-5">
                  <div (click)="deleteRecord(booking)" style="cursor: pointer">{{'hotel-bookings.button-delete' | translate }}</div>
                  <div style="cursor: pointer" class="mx-3" [attr.aria-expanded]="!isCollapseRefundAgent[i] || !isCollapseCancelledAgent[i] || !isCollapseNonRefundAgent[i]" (click)="viewCancelOption(booking, i, 'agent')">{{'hotel-bookings.button-cancel' | translate }}</div>
                  <div style="cursor: pointer">{{'hotel-bookings.button-print' | translate }}</div>
                </div>
              </div>
              <div class="col-4 text-right d-flex flex-column justify-content-between">
                <span class="hotel-price font-weight-bold mt-md-2">
                  {{booking?.amount | currency:booking?.currency:'symbol':'.0-2'}}
                </span>
                <div style="color:#007864;cursor: pointer;" (click)="viewDetail(booking, i, 'agent')"
                     [attr.aria-expanded]="!isCollapsedAgent[i]">
                     {{'hotel-bookings.label-details' | translate }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <pagination-controls (pageChange)="p = $event" directionLinks="true"
                           autoHide="true">
      </pagination-controls>
    </div>
  </div>
</div>
<!-- skeleton loading-->
<div *ngIf="isLoading" class="container my-md-5 mt-5 pt-5 pb-3 col-lg-8 offset-lg-2">
  <h3>{{'hotel-bookings.label-title' | translate }}</h3>
  <div class="row mt-3 shadow-box">
    <div class="col-md-12">
      <div class="row my-3">
        <div class="col-lg-3 col-6 mt-3">
          <ngx-skeleton-loader [theme]="{'height.px': 38, 'width.px': 255, 'background-color': '#ccc', 'margin-bottom.px': 0}"></ngx-skeleton-loader>
        </div>
        <div class="col-lg-3 col-6 mt-3">
          <ngx-skeleton-loader [theme]="{'height.px': 38, 'width.px': 255, 'background-color': '#ccc', 'margin-bottom.px': 0}"></ngx-skeleton-loader>
        </div>
        <div class="col-lg-3 col-12 mt-3">
          <ngx-skeleton-loader [theme]="{'height.px': 38, 'width.px': 80.73, 'background-color': 'rgb(10, 48, 73)', 'margin-bottom.px': 0}"></ngx-skeleton-loader>
        </div>
      </div>
      <p><ngx-skeleton-loader [theme]="{'height.px': 21, 'width': '50%', 'background-color': '#ccc', 'margin-bottom.px': 0}"></ngx-skeleton-loader></p>
      <!-- Hotel booking -->
      <div class="hotel-item shadow-box bg-white mb-3" *ngFor="let booking of [1, 2, 3, 4]; let i = index">
        <div class="row d-flex p-3">
          <div class="col-md-4">
            <ngx-skeleton-loader [theme]="{'height.px': 195, 'width.px': 339, 'background-color': '#ccc', 'margin-bottom.px': 0}"></ngx-skeleton-loader>
          </div>
          <div class="col-md-8 pt-3 pt-md-0">
            <div class="row">
              <div class="col-8">
                <h5 class="hotel-title">
                  <ngx-skeleton-loader [theme]="{'height.px': 21.59, 'width': '50%', 'background-color': '#ccc', 'margin-bottom.px': 0}"></ngx-skeleton-loader>
                </h5>
                <div class="my-2">
                  <ngx-skeleton-loader [theme]="{'height.px': 21, 'width': '52%', 'background-color': '#ccc', 'margin-bottom.px': 0}"></ngx-skeleton-loader>
                </div>
                <div>
                  <ngx-skeleton-loader [theme]="{'height.px': 21, 'width': '18%', 'background-color': '#ccc', 'margin-bottom.px': 0}"></ngx-skeleton-loader>
                </div>
                <div class="d-flex justify-content-between pr-lg-5 mt-5">
                  <ngx-skeleton-loader [theme]="{'height.px': 21, 'width.px': 43, 'background-color': '#ccc', 'margin-bottom.px': 0}"></ngx-skeleton-loader>
                  <ngx-skeleton-loader [theme]="{'height.px': 21, 'width.px': 43, 'background-color': '#ccc', 'margin-bottom.px': 0}"></ngx-skeleton-loader>
                  <ngx-skeleton-loader [theme]="{'height.px': 21, 'width.px': 77, 'background-color': '#ccc', 'margin-bottom.px': 0}"></ngx-skeleton-loader>
                </div>
              </div>
              <div class="col-4 text-right d-flex flex-column justify-content-between">
                <span class="hotel-price font-weight-bold mt-md-2">
                   <ngx-skeleton-loader [theme]="{'height.px': 26, 'width.px': 100, 'background-color': 'rgb(0, 25, 89)', 'margin-bottom.px': 0}"></ngx-skeleton-loader>
                </span>
                <div style="color:#007864;">
                  <ngx-skeleton-loader [theme]="{'height.px': 21, 'width.px': 77, 'background-color': '#ccc', 'margin-bottom.px': 0}"></ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--list hotel booking, agent for this user -->
    </div>
  </div>
</div>
<main-footer></main-footer>
