<div class="container  my-5 pt-5">
    <div class="col-sm-8 offset-sm-2">
      <div class="card">
        <div class="card-header">
          {{'commission-flotravel.title' | translate }}
        </div>
        <div class="card-body mx-3">
          <form [formGroup]="commissionForm">
            <div class="form-group row">
              <label for="type"> {{'commission-flotravel.lable-type' | translate }}</label>
              <select class="form-control" id="type" formControlName="type"
                [ngClass]="{ 'is-invalid': formSubmitError && commissionForm.get('type').errors }">
                <option value=""> {{'commission-flotravel.type-placeholder' | translate }}</option>
                <option value="HOTEL"> {{'commission-flotravel.type-hotel' | translate }}</option>
                <option value="FLIGHT"> {{'commission-flotravel.type-flight' | translate }}</option>
                <option value="INSURANCE"> {{'commission-flotravel.type-insurance' | translate }}</option>
                <option value="TRACE_ME"> {{'commission-flotravel.type-traceme' | translate }}</option>
                <option value="PACKAGE"> {{'commission-flotravel.type-package' | translate }}</option>
                <option value="HOTEL_COLLECTION"> {{'commission-flotravel.type-hotel-collection' | translate }}</option>
                <option value="HELPSTAR"> {{'commission-flotravel.type-helpstar' | translate }}</option>
              </select>
              <span class="invalid-feedback">
                <span *ngIf="commissionForm.get('type').errors?.required">
                  {{'commission-flotravel.error-require-type' | translate }}
                </span>
              </span>
            </div>
            <div class="form-group row">
              <label for="name">{{'commission-flotravel.label-name' | translate }}</label>
              <input appTrim class="form-control" id="name" formControlName="name"
                [ngClass]="{ 'is-invalid': formSubmitError && commissionForm.get('name').errors }">
              <span class="invalid-feedback">
                <span *ngIf="commissionForm.get('name').errors?.required">
                  {{'commission-flotravel.error-require-name' | translate }}
                </span>
              </span>
            </div>
            <div class="form-group row">
              <label for="margin">{{'commission-flotravel.label-margin' | translate }}</label>
              <input appTrim class="form-control" id="margin" formControlName="margin" type="number"
                [ngClass]="{ 'is-invalid': formSubmitError && commissionForm.get('margin').errors }">
              <span class="invalid-feedback">
                <span *ngIf="commissionForm.get('margin').errors?.required">
                  {{'commission-flotravel.error-require-margin' | translate }}
                </span>
                <span *ngIf="commissionForm.get('margin').errors?.min">
                  {{'commission-flotravel.min-value-invalid' | translate }}
                </span>
                <span *ngIf="commissionForm.get('margin').errors?.max">
                  {{'commission-flotravel.max-value-invalid' | translate }}
                </span>
                <span *ngIf="commissionForm.get('margin').errors?.pattern && (commissionForm.get('margin').dirty || commissionForm.get('margin').touched)">
                        {{'admin-agency-management-create.invalid-nuitee' | translate }}</span>
              </span>
            </div>
            <div class="form-group row">
              <label for="unit">{{'commission-flotravel.label-unit' | translate }}</label>
              <input appTrim class="form-control" id="unit" formControlName="unit" disabled
                [ngClass]="{ 'is-invalid': formSubmitError && commissionForm.get('unit').errors }">
              <span class="invalid-feedback">
                <span *ngIf="commissionForm.get('unit').errors?.required">
                  {{'commission-flotravel.error-require-unit' | translate }}
                </span>
              </span>
            </div>
            <div class="form-group row">
              <label for="unitName">{{'commission-flotravel.label-unit-name' | translate }}</label>
              <input appTrim class="form-control" id="unit" formControlName="unitName" disabled
                [ngClass]="{ 'is-invalid': formSubmitError && commissionForm.get('unitName').errors }">
              <span class="invalid-feedback">
                <span *ngIf="commissionForm.get('unitName').errors?.required">
                  {{'commission-flotravel.error-require-unit-name' | translate }}
                </span>
              </span>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button class="search-hotel btn btn-danger" (click)="createRule()">
            {{'commission-flotravel.button-create-commission' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
