<div class ="modal-body">
  <form [formGroup]="searchForm" (ngSubmit)="searchGca()">
    <!--    <div class="row">-->
    <!--      <div class="col-md-8">-->
    <!--        <div class="nav nav-tabs nav-fill border-0 mb-3" role="tablist">-->
    <!--          <a class="nav-item nav-link rounded-0" [ngClass]="typeGca === 1 ? 'active' : ''"-->
    <!--             (click)="gcaTypeChange(1)">Single Flight</a>-->
    <!--          <a class="nav-item nav-link rounded-0" [ngClass]="typeGca === 2 ? 'active' : ''"-->
    <!--             (click)="gcaTypeChange(2)">Multi Flight</a>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="m-0">Departing Airport</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="icon fa fa-map-marker"></i></span>
            </div>
            <!-- <input type="text" class="form-control" formControlName="flyFrom" placeholder="City or Airport"> -->
            <input [(ngModel)]="searchDepartureAirport[0]" [typeaheadItemTemplate]="customItemTemplate" typeaheadOptionField="displayName"
                   [typeahead]="sugDepartureAirport$" formControlName="departureAirport" [typeaheadAsync]="true" [typeaheadOptionsLimit]="7"
                   (typeaheadOnSelect)="selectDepartureAirport($event.item)" class="form-control"
                   placeholder="City or Airport">
            <ng-template #customItemTemplate let-model="item" let-index="index">
              {{model.displayName}}
            </ng-template>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="m-0">Arrival Airport</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="icon fa fa-map-marker"></i></span>
            </div>
            <!-- <input type="text" class="form-control" formControlName="destination" placeholder="Arrival"> -->
            <input [(ngModel)]="searchArrivalAirport[0]" typeaheadOptionField="displayName" [typeaheadItemTemplate]="customItemTemplate"
                   [typeahead]="sugArrivalAirport$" formControlName="arrivalAirport" [typeaheadAsync]="true"
                   [typeaheadOptionsLimit]="7" (typeaheadOnSelect)="selectArrivalAirport($event.item)" class="form-control"
                   placeholder="City or Airport">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label class="m-0">Departing</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="icon fa fa-calendar-check-o"></i></span>
            </div>
            <input type="text" class="form-control fromdate" formControlName="departing" bsDatepicker
                   [bsConfig]="bsConfig" [minDate]="minDate">
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label class="m-0">Flight No</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="icon fab fa-avianex"></i></span>
            </div>
            <input type="text" class="form-control" formControlName="flightNo" style="text-transform: uppercase">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <label class="m-0">Adults</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-user"></i></span>
            </div>
            <select formControlName="adults" class="form-control custom-select">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <label class="m-0">Children <small class="text-danger"><b>(2-12 yrs)</b></small></label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-child"></i></span>
            </div>
            <select formControlName="children" class="form-control custom-select">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <label class="m-0">Infants</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-child"></i></span>
            </div>
            <select formControlName="infants" class="form-control custom-select">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <!--    <div class="new-flight" *ngIf="typeGca === 2">-->
    <!--      <div formArrayName="anotherFlights">-->
    <!--        <div *ngFor="let city of flightsControls; let i = index" [formGroupName]="i">-->
    <!--          <div class="row">-->
    <!--            <div class="col-md-6">-->
    <!--              <div class="form-group">-->
    <!--                <label class="m-0">Departure Airport</label>-->
    <!--                <div class="input-group mb-3">-->
    <!--                  <div class="input-group-prepend">-->
    <!--                    <span class="input-group-text"><i class="icon fa fa-map-marker"></i></span>-->
    <!--                  </div>-->
    <!--                  &lt;!&ndash; <input type="text" class="form-control" formControlName="flyFromNext" placeholder="City or Airport"> &ndash;&gt;-->
    <!--                  <input [(ngModel)]="searchDepartureAirportNext[i]" typeaheadOptionField="displayName"-->
    <!--                         [typeaheadItemTemplate]="customItemTemplate" [typeahead]="sugDepartureAirportNext$[i]" formControlName="departureAirportNext"-->
    <!--                         [typeaheadAsync]="true" [typeaheadOptionsLimit]="7"-->
    <!--                         class="form-control" placeholder="City or Airport">-->
    <!--                </div>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--            <div class="col-md-6">-->
    <!--              <div class="form-group">-->
    <!--                <label class="m-0">Arrival Airport</label>-->
    <!--                <div class="input-group mb-3">-->
    <!--                  <div class="input-group-prepend">-->
    <!--                    <span class="input-group-text"><i class="icon fa fa-map-marker"></i></span>-->
    <!--                  </div>-->
    <!--                  &lt;!&ndash; <input type="text" class="form-control" formControlName="destinationNext" placeholder="City or Airport"> &ndash;&gt;-->
    <!--                  <input [(ngModel)]="searchArrivalAirportNext[i]" typeaheadOptionField="displayName"-->
    <!--                         [typeaheadItemTemplate]="customItemTemplate" [typeahead]="sugArrivalAirportNext$[i]"-->
    <!--                         formControlName="arrivalAirportNext" [typeaheadAsync]="true" [typeaheadOptionsLimit]="7"-->
    <!--                         class="form-control"-->
    <!--                         placeholder="City or Airport">-->
    <!--                </div>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--          <div class="row">-->
    <!--            <div class="col-md-4">-->
    <!--              <div class="form-group">-->
    <!--                <label class="m-0">Departing</label>-->
    <!--                <div class="input-group mb-3">-->
    <!--                  <div class="input-group-prepend">-->
    <!--                    <span class="input-group-text"><i class="icon fa fa-calendar-check-o"></i></span>-->
    <!--                  </div>-->
    <!--                  <input type="text" class="form-control fromdate" formControlName="departingNext" bsDatepicker-->
    <!--                         [bsConfig]="bsConfig">-->
    <!--                </div>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--            <div class="col-md-4">-->
    <!--              <div class="form-group">-->
    <!--                <label class="m-0">Flight No</label>-->
    <!--                <div class="input-group mb-3">-->
    <!--                  <div class="input-group-prepend">-->
    <!--                    <span class="input-group-text"><i class="icon fab fa-avianex"></i></span>-->
    <!--                  </div>-->
    <!--                  <input type="text" class="form-control" formControlName="flightNoNext">-->
    <!--                </div>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--            <div class="col-md-1 d-flex align-items-center align-self-center">-->
    <!--              <i class="fa fa-times" aria-hidden="true" (click)="removeItem(i)" *ngIf="i >= 1"></i>-->
    <!--            </div>-->
    <!--          </div>-->

    <!--        </div>-->
    <!--        <span class="add-flight float-right" style="cursor:pointer;" (click)="onAddCity()"><i-->
    <!--          class="fa fa-plus-circle"></i> Add another flight </span>-->
    <!--      </div>-->
    <!--    </div>-->
<!--    <input type="submit" name="submit" class="search-hotel btn btn-danger" value="Find Gca">-->
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="closeModal()">Close</button>
  <!-- <button type="button" class="btn btn-danger" (click)="submit()" [disabled]="searchForm.invalid"> -->
  <button type="button" class="btn btn-danger" (click)="submit()">
    Find Gca</button>
</div>
