<app-special-provider-header (toggleMenuSidebar)="toggleMenuSidebar()"></app-special-provider-header>

<app-special-provider-menu-sidebar class="main-sidebar sidebar-dark-primary elevation-4"></app-special-provider-menu-sidebar>

<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>

<app-special-provider-footer class="main-footer"></app-special-provider-footer>
<aside class="control-sidebar control-sidebar-dark"></aside>
<div id="sidebar-overlay" (click)="toggleMenuSidebar()"></div>
