<section class="stbanner">
  <div class="container">
    <div class="stbinner d-flex align-items-center">
      <figure>
        <img style="width: 175px;" src="assets/icon_fs.png">
      </figure>
      <div class="stbtext">
        <h4>Flash Sales</h4>
        <h5>Deals too good to miss</h5>
      </div>
    </div>
  </div>
</section>

<section class="offerline">
  <div class="container">
    <div class="offerlineinner d-flex justify-content-between gap-2">
      <a href="#offersoftheweek" class="offin d-flex align-items-center">
        <figure>
          <img style="width: 35px;"  src="assets/price-tag.png">
        </figure>
        <div class="offtext text-nowrap">
          <h4>Offers of the week</h4>
        </div>
      </a>
      <a href="#summer2022" class="offin d-flex align-items-center">
        <figure>
          <img src="assets/beach.svg">
        </figure>
        <div class="offtext text-nowrap">
          <h4>Summer 2022</h4>
        </div>
      </a>
      <a href="#ukholidays" class="offin d-flex align-items-center">
        <figure>
          <img src="assets/tag_area.svg">
        </figure>
        <div class="offtext text-nowrap">
          <h4>UK holiday</h4>
        </div>
      </a>
      <a href="#lastchance" class="offin d-flex align-items-center">
        <figure>
          <img src="assets/hourglass.svg">
        </figure>
        <div class="offtext text-nowrap">
          <h4>Last chance</h4>
        </div>
      </a>
      <a href="#popularcities" class="offin d-flex align-items-center">
        <figure>
          <img src="assets/special_offer.svg">
        </figure>
        <div class="offtext text-nowrap">
          <h4>Popular Cities</h4>
        </div>
      </a>
      <a href="#mustvisit" class="offin d-flex align-items-center">
        <figure>
          <img src="assets/tour_operator.svg">
        </figure>
        <div class="offtext text-nowrap">
          <h4>Must visit</h4>
        </div>
      </a>
    </div>
  </div>
</section>

<div class="bg-white py-5">
  <div class="container my-5">
    <h1 class="text-center mb-5">FAQ</h1>

    <h2 class="h1 text-center mb-3">Payments</h2>

    <div id="accordion01" class="faq-accordion">
      <div class="card border-0 rounded-0">
        <div class="card-header p-0 rounded-0">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              How do I request an invoice?
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse show" data-parent="#accordion01">
          <div class="card-body pt-4">
            Please go to your confirmation email or the confirmation page and click 'Request an invoice'. Complete the form and submit your request. If you don’t see the link, please go to the Help Centre for assistance.

            You'll get your invoice after check-out. This email will come from Flotravel or a partner company.
          </div>
        </div>
      </div>
      <div class="card border-0">
        <div class="card-header p-0 rounded-0">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              I was charged incorrectly. What should I do?
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" data-parent="#accordion01">
          <div class="card-body">
            If Flotravel charged you incorrectly: Please go to the Help Centre. We'll likely need a copy of your bank statement showing the incorrect charges as well as your booking confirmation number and PIN code.

            If the property charged you incorrectly: Please reach out to the property directly for help.
          </div>
        </div>
      </div>
      <div class="card border-0">
        <div class="card-header p-0 rounded-0">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              How do I confirm that I paid for my booking?
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" data-parent="#accordion01">
          <div class="card-body">
            You’ll find your payment confirmation in your confirmation email. From the email there is also an option to download a payment confirmation PDF.
          </div>
        </div>
      </div>

      <div class="card border-0">
        <div class="card-header p-0 rounded-0">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
              Where can I find my booking's payment policy?
            </button>
          </h5>
        </div>

        <div id="collapseFour" class="collapse" data-parent="#accordion01">
          <div class="card-body">
            Flotravel will charge your card for the total price of the booking when you book. If you are looking for more information about your payment, please check your confirmation email.
          </div>
        </div>
      </div>
      <div class="card border-0">
        <div class="card-header p-0 rounded-0">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              I was charged. Do I need to do anything else?
            </button>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" data-parent="#accordion01">
          <div class="card-body">
            No, you don’t need to do anything. We charged you for the price of the booking. If there are additional taxes or charges this information should be displayed on the property page.
          </div>
        </div>
      </div>
      <div class="card border-0">
        <div class="card-header p-0 rounded-0">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              Will I need to pay anything extra on arrival?
            </button>
          </h5>
        </div>
        <div id="collapseSix" class="collapse" data-parent="#accordion01">
          <div class="card-body">
            Sometimes, you are expected to pay taxes and charges upon arrival. If this is the case, the amount is stated before you book and in your confirmation email. If no amount is stated, you should not pay anything upon arrival.

            If the property requests money from you and you believe this is incorrect, please go to the Help Centre for further support.
          </div>
        </div>
      </div>
    </div>

    <h2 class="h1 text-center mt-5 mb-3">Cancellations and modifications</h2>
    <div id="accordion02" class="faq-accordion">
      <div class="card border-0 rounded-0">
        <div class="card-header p-0 rounded-0">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne02" aria-expanded="true" aria-controls="collapseOne02">
              My booking was canceled. When will I be refunded?
            </button>
          </h5>
        </div>

        <div id="collapseOne02" class="collapse show" data-parent="#accordion02">
          <div class="card-body pt-4">
            If your booking has been cancelled, Flotravel refunds you immediately. The processing time may take 7 to 10 days and depends on your bank. If you have questions, contact your bank directly.
          </div>
        </div>
      </div>
      <div class="card border-0">
        <div class="card-header p-0 rounded-0">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo02" aria-expanded="false" aria-controls="collapseTwo02">
              Can I cancel my booking? How do I request for a refund?
            </button>
          </h5>
        </div>
        <div id="collapseTwo02" class="collapse" data-parent="#accordion02">
          <div class="card-body">
            If your booking is non-refundable you cannot cancel. If your booking is free cancellation or partially refundable, check your confirmation email or confirmation page in the Bookings section of your account for the cancellation costs.
          </div>
        </div>
      </div>
      <div class="card border-0">
        <div class="card-header p-0 rounded-0">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree02" aria-expanded="false" aria-controls="collapseThree02">
              Can I make changes to my booking?
            </button>
          </h5>
        </div>
        <div id="collapseThree02" class="collapse" data-parent="#accordion02">
          <div class="card-body">
            It's not possible to make any changes to your booking. This includes actions like changing the stay dates, guest name or email address.
          </div>
        </div>
      </div>

      <div class="card border-0">
        <div class="card-header p-0 rounded-0">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour02" aria-expanded="true" aria-controls="collapseFour02">
              My booking was canceled or declined – what should I do?
            </button>
          </h5>
        </div>

        <div id="collapseFour02" class="collapse" data-parent="#accordion02">
          <div class="card-body">
            Because this booking is facilitated by a partner company, the property may be overbooked. If that's the case, the partner notifies us. Next, we refund you and cancel your booking.
            The processing time may take 7 to 10 days and depends on your bank. If you have questions, contact your bank directly.          </div>
        </div>
      </div>
      <div class="card border-0">
        <div class="card-header p-0 rounded-0">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive02" aria-expanded="false" aria-controls="collapseFive02">
              If I need to cancel my booking, will I pay a fee?
            </button>
          </h5>
        </div>
        <div id="collapseFive02" class="collapse" data-parent="#accordion02">
          <div class="card-body">
            If your booking is non-refundable, you cannot cancel or make changes. If your booking is free cancellation or partially refundable, check your confirmation email or confirmation page in the Bookings section of your account for the cancellation costs.
          </div>
        </div>
      </div>
      <div class="card border-0">
        <div class="card-header p-0 rounded-0">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix02" aria-expanded="false" aria-controls="collapseSix02">
              How do I know if my booking was canceled?
            </button>
          </h5>
        </div>
        <div id="collapseSix02" class="collapse" data-parent="#accordion02">
          <div class="card-body">
            After you cancel a booking with us, you should receive an email to confirm the cancellation. Check your inbox and spam/junk mail folders.
            If you’ve received an email from Flotravel cancelling your booking, your booking has been cancelled and we’ve refunded you. The processing time depends on your bank. If you have questions, contact your bank directly.          </div>
        </div>
      </div>
      <div class="card border-0">
        <div class="card-header p-0 rounded-0">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven02" aria-expanded="false" aria-controls="collapseSeven02">
              Where can I find the cancellation policy?
            </button>
          </h5>
        </div>
        <div id="collapseSeven02" class="collapse" data-parent="#accordion02">
          <div class="card-body">
            You can find this in your booking confirmation email.
          </div>
        </div>
      </div>
    </div>

    <h2 class="h1 text-center mt-5 mb-3">Confirmation</h2>
    <div id="accordion03" class="faq-accordion">
      <div class="card border-0 rounded-0">
        <div class="card-header p-0 rounded-0">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne03" aria-expanded="true" aria-controls="collapseOne03">
              I paid for my booking but haven’t received a confirmation email. What should I do?
            </button>
          </h5>
        </div>

        <div id="collapseOne03" class="collapse show" data-parent="#accordion03">
          <div class="card-body pt-4">
            You'll get a confirmation email once your booking is confirmed. This should only take about two minutes but sometimes can take longer. Please check your spam/junk mail folders for this email, it may be there by mistake. If you still haven't received any emails, reach out to our Customer Service team.
          </div>
        </div>
      </div>
      <div class="card border-0">
        <div class="card-header p-0 rounded-0">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo03" aria-expanded="false" aria-controls="collapseTwo03">
              Can you resend my confirmation email?
            </button>
          </h5>
        </div>
        <div id="collapseTwo03" class="collapse" data-parent="#accordion03">
          <div class="card-body">
            We always resend your confirmation email a few days before check-in. If you have a Flotravel account, you can also find your confirmation under the Bookings section in your account. If you still need us to resend your confirmation email please reach out to our Customer Service team.
          </div>
        </div>
      </div>
      <div class="card border-0">
        <div class="card-header p-0 rounded-0">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree03" aria-expanded="false" aria-controls="collapseThree03">
              I can't find my confirmation email. What should I do?
            </button>
          </h5>
        </div>
        <div id="collapseThree03" class="collapse" data-parent="#accordion03">
          <div class="card-body">
            First check your inbox and spam/junk mail folders, it may be there by mistake. If you have a Flotravel account, you can also find your confirmation under the Bookings section in your account.
          </div>
        </div>
      </div>

      <div class="card border-0">
        <div class="card-header p-0 rounded-0">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour03" aria-expanded="true" aria-controls="collapseFour03">
              Why and how long do I need to wait for my booking to be confirmed?
            </button>
          </h5>
        </div>

        <div id="collapseFour03" class="collapse" data-parent="#accordion03">
          <div class="card-body">
            We'll need to check with our partner company to make sure your selection is still available. We do our best to let you know within two minutes via email. Please check your spam/junk mail folders in case this email is there by mistake.
          </div>
        </div>
      </div>
      <div class="card border-0">
        <div class="card-header p-0 rounded-0">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive03" aria-expanded="false" aria-controls="collapseFive03">
              My booking still isn't confirmed. What should I do?
            </button>
          </h5>
        </div>
        <div id="collapseFive03" class="collapse" data-parent="#accordion03">
          <div class="card-body">
            You’ll get an email to let you know if your booking is confirmed within several minutes. Please check your inbox and spam/junk mail folders for this email. If you still cannot find the email, please reach out to our Customer Service team.
          </div>
        </div>
      </div>
      <div class="card border-0">
        <div class="card-header p-0 rounded-0">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix03" aria-expanded="false" aria-controls="collapseSix03">
              My confirmation number doesn't work when I call Customer Service – what should I do?
            </button>
          </h5>
        </div>
        <div id="collapseSix03" class="collapse" data-parent="#accordion03">
          <div class="card-body">
            If you've contacted us by phone, the confirmation number may be too long to register correctly. Instead, go to the Help Centre. If you're already talking with a Customer Service agent, let them know this is an offer facilitated by a partner company, or a Partner offer.
          </div>
        </div>
      </div>
      <div class="card border-0">
        <div class="card-header p-0 rounded-0">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven03" aria-expanded="false" aria-controls="collapseSeven03">
              The property is double-booked and/or can't find my booking. What should I do?
            </button>
          </h5>
        </div>
        <div id="collapseSeven03" class="collapse" data-parent="#accordion03">
          <div class="card-body">
            Please visit the Help Centre as soon as possible.
          </div>
        </div>
      </div>
    </div>

    <h2 class="h1 text-center mt-5 mb-3">Booking info and requests</h2>
    <div id="accordion04" class="faq-accordion">
      <div class="card border-0 rounded-0">
        <div class="card-header p-0 rounded-0">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne04" aria-expanded="true" aria-controls="collapseOne04">
              How do I request extra services from the property?
            </button>
          </h5>
        </div>

        <div id="collapseOne04" class="collapse show" data-parent="#accordion04">
          <div class="card-body pt-4">
            If you’d like to request an extra service like an extra bed, early check-in or transportation to the property, please contact the property directly 1-2 days before arrival. There is no guarantee, but they may be able to help.
          </div>
        </div>
      </div>
      <div class="card border-0">
        <div class="card-header p-0 rounded-0">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo04" aria-expanded="false" aria-controls="collapseTwo04">
              How do I request early or late check-in/-out?
            </button>
          </h5>
        </div>
        <div id="collapseTwo04" class="collapse" data-parent="#accordion04">
          <div class="card-body">
            If you’d like to request an early or late check-in or check-out, please contact the property directly 1-2 days before arrival. There is no guarantee, but they may be able to help.
          </div>
        </div>
      </div>
      <div class="card border-0">
        <div class="card-header p-0 rounded-0">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree04" aria-expanded="false" aria-controls="collapseThree04">
              How do I get more info about a property’s facilities?
            </button>
          </h5>
        </div>
        <div id="collapseThree04" class="collapse" data-parent="#accordion04">
          <div class="card-body">
            Click the property name on the confirmation page to visit the property page. You'll see a complete list of property facilities there.
          </div>
        </div>
      </div>

      <div class="card border-0">
        <div class="card-header p-0 rounded-0">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour04" aria-expanded="true" aria-controls="collapseFour04">
              Can I change the guest name for this booking?
            </button>
          </h5>
        </div>

        <div id="collapseFour04" class="collapse" data-parent="#accordion04">
          <div class="card-body">
            It’s not possible to change any personal details like the guest name or email address.
          </div>
        </div>
      </div>
      <div class="card border-0">
        <div class="card-header p-0 rounded-0">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive04" aria-expanded="false" aria-controls="collapseFive04">
              Can I get extra beds/cribs for children?
            </button>
          </h5>
        </div>
        <div id="collapseFive04" class="collapse" data-parent="#accordion04">
          <div class="card-body">
            It depends on the property’s policy. Typically, additional costs for children (including extra beds/cots) are not included in the price. Please contact the property directly 1-2 days before your stay to find out more.
          </div>
        </div>
      </div>
      <div class="card border-0">
        <div class="card-header p-0 rounded-0">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix04" aria-expanded="false" aria-controls="collapseSix04">
              I can't find my booking in my account. What should I do?
            </button>
          </h5>
        </div>
        <div id="collapseSix04" class="collapse" data-parent="#accordion04">
          <div class="card-body">
            If you were signed in when you made your booking, the booking should appear in the Bookings section of your account.
            If you were not signed in when you made your booking, the booking will not appear and you cannot add this booking to your account.
            If you don’t have an account or you were not signed in when you made your booking, please check your email for your confirmation email.          </div>
        </div>
      </div>
      <div class="card border-0">
        <div class="card-header p-0 rounded-0">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven04" aria-expanded="false" aria-controls="collapseSeven04">
              How do I add my booking to my account?
            </button>
          </h5>
        </div>
        <div id="collapseSeven04" class="collapse" data-parent="#accordion04">
          <div class="card-body">
            Unfortunately it's not possible to add this booking to your account. We're working on a way to make this possible in the future.
          </div>
        </div>
      </div>
      <div class="card border-0">
        <div class="card-header p-0 rounded-0">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight04" aria-expanded="false" aria-controls="collapseEight04">
              Are meals included in my booking?
            </button>
          </h5>
        </div>
        <div id="collapseEight04" class="collapse" data-parent="#accordion04">
          <div class="card-body">
            Your confirmation email will list if any meals are included or not included. Depending on the property it may be possible to add a meal plan upon arrival. Please contact the property directly 1-2 days before your stay to find out more.
          </div>
        </div>
      </div>
      <div class="card border-0">
        <div class="card-header p-0 rounded-0">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine04" aria-expanded="false" aria-controls="collapseNine04">
              On arrival, the room/accommodation I was given didn't match what I booked. What should I do?
            </button>
          </h5>
        </div>
        <div id="collapseNine04" class="collapse" data-parent="#accordion04">
          <div class="card-body">
            Please go to the Help Centre. You'll likely need to send our Customer Service team a screenshot of the mismatched information and if you had to pay any extra fees, a receipt as proof of payment.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
