<div class="footer p-4">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-4 text-light mb-5">
                <h4 class="text-left">LATEST NEWS</h4>
                <div class="text-left">
                    <p>Up am intention on dependent questions oh elsewhere september. No betrayed pleasure possible jointure we in throwing. And can event rapid any shall woman green. Hope they dear who its bred. Smiling nothing affixed he carried it clothes calling he no. </p>
                </div>
            </div>
            <div class="col-12 col-sm-5 text-light text-center">
                <h4 class="text-left">MAILING LIST</h4>
                <div class="text-left" style="display: inline-block;" >
                    <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</p><br>
                    <!-- <form> -->
                        <div class="row">
                            <div class="col-8">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email Address..." style="font-size:13px;">
                                </div>
                            </div>
                            <div class="col-4">
                                <button class="btn btn-danger" type="button">SUBMIT</button>
                            </div>
                        </div>
                    <!-- </form> -->
                </div>
            </div>
            <div class="col-12 col-sm-3 text-light">
                <h4 class="text-left">CONTACT US</h4>
                <div class="text-left">
                    <p>Suite 4.1, 4th Floor,<br>
                        Block E, KMA Centre, Mara Road, Nairobi,<br>
                        Kenya<br>
                         Tel: +44 208099 6547
                     </p>
                </div>
                <div class="text-left" ngPreserveWhitespaces>
                    <a href = "https://www.facebook.com/Flotravel-MENA-113088888058791/" target="_blank" style="color:#fff;"><i class="fa fa-facebook-official"></i></a> &nbsp;
                    <a href = "https://www.instagram.com/flotravel_ltd/" target="_blank" style="color:#fff;"><i class="fa fa-instagram"></i></a>&nbsp;
                    <a href = "https://twitter.com/Flotravel3" target="_blank" style="color:#fff;"><i class="fa fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
