<nav id="we-menu" class="navbar navbar-expand-md p-1">
  <div class="container d-flex justify-content-between py-2">
    <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class='lni lni-menu'></i>
    </button>
    <a class="navbar-brand" routerLink="/">
      <img class="img-responsive" src="assets/flotravel-logo.png" alt="" height="30">
    </a>
  </div>
</nav>
