@media screen and (max-width: 767px){
    ::ng-deep bs-datepicker-container{
        transform: translate3d(0px, 767px, 0px)!important;
    }
 }

 .k-dateinput {
  font-size: 18px;
  background-color: #eeeeee !important;
}
.k-dateinput-wrap {
  background-color: #eeeeee !important;
}
::ng-deep .k-input-inner{
  width: 100% !important;
  border: none !important;
  height: 100% !important;
  background-color: transparent;
}
::ng-deep .bs-datepicker-container {
  padding: 0px !important;
}
::ng-deep .bs-datepicker-head {
  background-color: #dc3545!important;
}

.k-dateinput {
  font-size: 18px;
  background-color: #eeeeee !important;
}

.k-dateinput-wrap {
  background-color: #eeeeee !important;
}

::ng-deep .k-input-inner {
  width: 100% !important;
  border: none !important;
  height: 100% !important;
  background-color: transparent;
  padding: 6px !important;
}
::ng-deep kendo-datepicker {
  padding: 0px !important;
}

::ng-deep kendo-dateinput {
  width: 100% !important;
  height: 100% !important;
}

::ng-deep .k-input-button {
  display: none;
}
.k-dateinput {
  font-size: 18px;
  background-color: #eeeeee !important;
}
.k-dateinput-wrap {
  background-color: #eeeeee !important;
}
::ng-deep .k-input-inner{
  width: 100% !important;
  border: 0.888889px solid rgb(206, 212, 218) !important;
  height: 100% !important;
  background-color: transparent;
}
