<div *ngFor="let hotel of hotelList |  paginate: { itemsPerPage: 10, currentPage: pageCurrent }">
  <div class="flight-item shadow-box1 bg-white mb-3">
    <div class="row d-flex p-3">
      <div class="col-md-4">
        <img class="img-fluid" [errorImage]="defaultData" [defaultImage]="defaultData"
             [lazyLoad]="hotel?.hotelImage" [useSrcset]="true" />
        <div class="pt-2 d-none d-md-block">{{hotel?.name}}</div>
      </div>
      <div class="col-md-8 pt-3 pt-md-0 ">
        <div class="row">
          <div class="col-7 col-md-8">
            <h5 class="hotel-title">{{hotel?.name}}</h5>
            <p style="font-size: 12px;"><i class="fa fa-map-marker"></i> {{hotel?.address}}
            </p>
            <div class="d-none d-md-block">
              <div style="color:#666666;font-size: 14px;font-weight: bold;">{{'Save 25% For Bookings All Year'}}</div>
              <p style="color:#666666;font-size: 11px;margin-bottom:10px;line-height: 15px;">
                {{hotel?.overview}}</p>
            </div>
<!--            <div style="color:#007864; font-size: 11px; margin-bottom:10px;">{{'hotel-list-item.label-cancellation' |-->
<!--              translate }}</div>-->
            <div style="color:#666666; font-size: 12px;"><b>{{hotel?.starRate}}/5</b>  {{'hotel-list.label-star-rating' | translate }}
            </div>
          </div>
          <div class="col-5 col-md-4 text-right">
            <span class="hotel-price mt-md-2">{{hotel?.minPrice | currency:hotel.currency:'symbol':'.0-2'}}</span>
            <div style="margin-bottom:15px">{{'hotel-list.label-for' | translate }} {{1}} {{'hotel-list.label-night' | translate }}</div>
            <button class="btn btn-danger" (click)="selectHotel(hotel)"
                    style="white-space: nowrap !important;">{{'hotel-list.button-book-now' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
