.menu-dropdown {
  width: 270px;
  height: auto;
  box-sizing: border-box;
  border-radius: 0px 0px 8px 8px;
  position: absolute;
  left: 10px;
  top: 30px;
  box-shadow: 1px 4px 12px rgba(26, 28, 38, 0.1);
  background-color: white;
  z-index: 99;
  display: inline-block;
  min-width: 120px;
  margin-left: 14px;
}

::ng-deep .dropdown-menu {
  min-width: max-content !important;
}

::ng-deep typeahead-container {
  width: max-content !important;
}

label {
  margin-left: 0px;
}

.menu-dropdown-mobile {
  width: 270px;
  overflow: hidden;
  height: auto;
  box-sizing: border-box;
  border-radius: 0px 0px 8px 8px;
  position: absolute;
  left: -40px;
  float: left;
  top: 30px;
  box-shadow: 1px 4px 12px rgba(26, 28, 38, 0.1);
  background-color: white;
  z-index: 1000;
  display: block;
  min-width: 120px;
  margin-left: 14px;
}

#select-box-btns {
  white-space: nowrap;
}
