<div style="background: #f0f2f6;">
    <main-header></main-header>
    <main role="main" class="margin-top: 70px">
      <div class="container mt-3 pt-3 pb-5">
        <div *ngIf="isLoading" class="text-center mt-3 loading-space">
          <div class="spinner-border text-primary"></div>
          <span ngPreserveWhitespaces>&emsp;Loading...</span>
        </div>
        <div class="row" *ngIf="!isLoading">
          <div class="col-md-8">
            <alert *ngIf="hepstarBookingDetail?.status !== '0000'" type="danger" ngPreserveWhitespaces>
              This booking is cancelled
            </alert>
            <!-- <alert *ngIf="hepstarBookingDetail?.gcaStatus.code !== 200" type="warning" ngPreserveWhitespaces>
              This booking is pending wait response from admin
            </alert> -->
            <div class="row mt-5 mt-sm-3 mb-4">
              <div class="col-12">
                <h5 class='text-danger border-bottom mb-4'>Booking Details</h5>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group" ngPreserveWhitespaces>
                  <label>Booking Id:</label>&emsp;
                  {{hepstarBookingDetail?.bookingId}}
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group" ngPreserveWhitespaces>
                  <label>MasterPurchaseNumber:</label>&emsp;{{hepstarBookingDetail?.masterPurchaseNumber}}
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group" ngPreserveWhitespaces>
                  <label>PurchaseNumber: </label>&emsp;{{hepstarBookingDetail?.purchaseNumber}}
                </div>
              </div>
            </div>
            <div class="row mt-5 mt-sm-3">
              <div class="col-12">
                <h5 class='text-danger border-bottom mb-4'>Contact Details</h5>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group" ngPreserveWhitespaces>
                  <label>Email:</label>&emsp;{{hepstarBookingDetail?.payer?.email}}
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group" ngPreserveWhitespaces>
                  <label>First Name:</label>&emsp;{{hepstarBookingDetail?.payer?.firstName}}
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group" ngPreserveWhitespaces>
                  <label>Last Name:</label>&emsp;{{hepstarBookingDetail?.payer?.lastName}}
                </div>
              </div>
            </div>
            <div class="row mt-5 mt-sm-3 mb-4">
              <div class="col-12">
                <h5 class='text-danger border-bottom mb-4'>Transaction Details</h5>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group" ngPreserveWhitespaces>
                  <label>Order No:</label>&emsp;{{hepstarBookingDetail?.orderId}}
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group" ngPreserveWhitespaces>
                  <label>TraceNumber: </label>&emsp;{{hepstarBookingDetail?.traceNumber}}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-3" style="border-radius: 0px;">
              <img class="img-fluid" [src]="'/assets/no-image.png'" [title]="hepstarBookingDetail?.item_name" style="width:100%" />
              <div class="card-body">
                <h5 class="card-title">Hepstar Refund Protection</h5>
                <!-- <h5 class="card-title">Booking for: {{hepstarBookingDetail?.name}}</h5> -->
                <!-- <span escapse="false" [innerHTML]="hepstarBookingDetail?.hotelPackage?.overview"></span>
                <hr>
                <h6>{{hepstarBookingDetail?.rooms[0]?.roomType}} <small class="float-right text-danger">Hotel Room</small></h6>
                <span [innerHTML]="hepstarBookingDetail?.rooms[0]?.roomDescription | truncatetext:200"></span>
                 -->
              </div>
              <div class="card-footer text-muted">
                <p>Total trip: <span class="float-right text-danger">{{hepstarBookingDetail?.amount | currency:currency:'symbol':'.0-2'}}</span></p>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="!isLoading && (hepstarBookingDetail?.status === '0000')">
          <button type="button" class="btn btn-danger" (click)="openModalWithComponent()"  [disabled]="hepstarBookingDetail.refundedAmount > 0">Cancel Booking</button>
        </div>

      </div>
    </main>
  </div>
  <main-footer></main-footer>
  