<div class="card card-outline card-primary">
  <div class="card-header">
    <h3 class="card-title">{{'wallet-account-info.label-balance' | translate }}</h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" (click)="isCollapsed = !isCollapsed">
        <i *ngIf="!isCollapsed" class="fas fa-minus"></i>
        <i *ngIf="isCollapsed" class="fas fa-plus"></i>
      </button>
      <button type="button" class="btn btn-tool" (click)="getBalanceSummary()">
        <i class="fa fa-refresh"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="remove">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <!-- /.card-tools -->
  </div>
  <!-- /.card-header -->
  <div [collapse]="isCollapsed" [isAnimated]="true">
    <div class="card-body">
      <div *ngIf="fetchFailed" class="mb-5 mt-3">
        <alert type="danger" ngPreserveWhitespaces>
          {{'wallet-account-info.error-message' | translate }}&emsp;<strong>{{errorMes || 'Get balance summary'}}</strong>
        </alert>
        <button type="button" class="btn btn-danger" (click)="getBalanceSummary()">{{'wallet-account-info.label-try-again' | translate }}</button>
      </div>
      <div *ngIf="fetching" class="text-center mt-3 loading-space">
        <div class="spinner-border text-primary"></div>
        <span ngPreserveWhitespaces>&emsp;{{'wallet-account-info.label-loading' | translate }}</span>
      </div>
      <div>
        <div *ngIf="!fetching && !fetchFailed">
          <div *ngIf="!balanceSummary">
            <p>{{'wallet-account-info.label-no-balance' | translate }}</p>
          </div>
          <div *ngIf="balanceSummary">
            <div class="clearfix" *ngFor="let balance of balanceSummary[0]?.accounts; let i = index">
              <hr *ngIf="i !== 0"/>
              <span class="float-left">{{balance?.currency || 'USD'}}</span>
              <span class="float-right badge bg-green">{{balance?.balance || 0}}</span>
            </div>
          </div>
        </div>
      </div>
      <!-- <hr/> -->
    </div>
  </div>
</div>
