<main role="main">
  <div class="container mt-3 pt-5 pb-5">
    <div class="row">
      <div class="col-4 mb-4">
        <h2 class="heading my-3">{{'insurance-transactions.label-title' | translate }}</h2>
      </div>
      <div class="col-8 mb-4">
        <form [formGroup]="searchForm" (ngSubmit)="searchInsurance()">
          <div class="row my-3">
            <div class="col-lg-3 col-6">
              <label class="m-0 font-weight-light">{{'insurance-transactions.label-from' | translate }}</label>
              <div class="form-group mb-0">
                <div class="input-group checkinDate">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon fa fa-calendar-check-o"></i></span>
                  </div>
                  <input type="text" ngbDatepicker #checkin="ngbDatepicker" class="form-control" formControlName="fromDate"
                         (click)="checkin.toggle()" (dateSelect)="getFromDate($event)" placement="bottom" placeholder="mm/dd/yyyy">
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <label class="m-0 font-weight-light">{{'insurance-transactions.label-to' | translate }}</label>
              <div class="form-group mb-0">
                <div class="input-group checkoutDate">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon fa fa-calendar-check-o"></i></span>
                  </div>
                  <input type="text" ngbDatepicker #checkout="ngbDatepicker" class="form-control" formControlName="toDate" [startDate]="fromDate" [minDate]="fromDate"
                         (click)="checkout.toggle()" placeholder="dd/mm/yyyy" (dateSelect)="getToDate($event)" placement="bottom"/>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-12 pt-1">
              <input type="submit" class="btn btn-danger mt-3" value="Refresh">
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <kendo-grid [kendoGridBinding]="gridView" kendoGridSelectBy="id" [selectedKeys]="mySelection" [pageSize]="10" style="font-family: Verdana, Geneva, Tahoma, sans-serif;"
          [pageable]="true" [sortable]="true" [reorderable]="true" [resizable]="true" [columnMenu]="{ filter: true }" class="shadow-sm">
          <ng-template kendoGridToolbarTemplate>
            <input placeholder="{{'insurance-transactions.label-searching' | translate }}" kendoTextBox (input)="onFilter($event.target.value)" />
            <span *ngIf="isLoading">
              <div class="spinner-grow spinner-grow-sm text-primary" role="status">
              </div><span ngPreserveWhiteSpaces>&emsp;{{'insurance-transactions.label-loading' | translate }}</span>
            </span>
            <button kendoGridExcelCommand type="button" icon="file-excel" style="float:right;">{{'insurance-transactions.label-excel' | translate }}</button>
            <button kendoGridPDFCommand type="button" icon="file-pdf" style="float:right;">{{'insurance-transactions.label-pdf' | translate }}</button>
          </ng-template>

          <kendo-grid-column-group title="{{'insurance-transactions.label-list' | translate }}" [columnMenu]="false">
            <kendo-grid-column title="#" [width]="30" [columnMenu]="false">
              <ng-template let-rowIndex="rowIndex" kendoGridCellTemplate let-dataItem>
                <div>{{rowIndex + 1}}</div>
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="item_name" title="{{'insurance-transactions.label-product-name' | translate }}" [width]="150">
              <ng-template kendoGridCellTemplate let-dataItem>
                <div class="customer-name text-container" ngPreserveWhitespaces>
                  {{ dataItem.item_name | uppercase}} </div>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column  field="id" title="{{'insurance-transactions.label-booking-id' | translate }}" [width]="200">
              <ng-template kendoGridCellTemplate let-dataItem>
                <div class="customer-name text-container" ngPreserveWhitespaces>
                  {{ dataItem.id }}</div>
              </ng-template>
            </kendo-grid-column>
        <!--   <kendo-grid-column field="agent" title="{{'insurance-transactions.label-agent-name' | translate }}" [width]="150">
              <ng-template kendoGridCellTemplate let-dataItem>
                <div class="customer-name text-container" ngPreserveWhitespaces>
                  {{ dataItem?.agent | uppercase }} </div>
              </ng-template>
            </kendo-grid-column> -->
            <kendo-grid-column field="amount" title="{{'insurance-transactions.label-price' | translate }}" [width]="100">
              <ng-template kendoGridCellTemplate let-dataItem>
                <div>{{dataItem?.price?.priceAfterDiscountIncTax | currency:dataItem.currencyName:'symbol':'.0-2'}}</div>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="createDate" title="{{'insurance-transactions.label-date' | translate }}" [width]="120">
              <ng-template kendoGridCellTemplate let-dataItem>
                <div>{{dataItem.createDate | date:'medium'}}</div>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="guaranteeDetails" title="{{'insurance-transactions.label-guarantees' | translate }}" [width]="280"
              [resizable]="true">
              <ng-template kendoGridCellTemplate let-dataItem>
                <div *ngIf="dataItem?.guarantees">
                  <p><strong>{{'insurance-transactions.label-code' | translate }}</strong><em>{{dataItem?.guarantees[0]?.code}}</em></p>
                  <p><strong>{{'insurance-transactions.label-excess' | translate }}</strong><em>{{dataItem?.guarantees[0]?.excess}}</em></p>
                  <p><strong>{{'insurance-transactions.label-limit' | translate }}</strong><em>{{dataItem?.guarantees[0]?.limit}}</em></p>
                </div>
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="status" title="{{'insurance-transactions.label-status' | translate }}" [width]="70" [class]="{'text-center': true}"
              filter="boolean">
              <ng-template kendoGridCellTemplate let-dataItem>
                 <span *ngIf="(dataItem?.subscriptionStatus?.value === 'CANCEL') || (dataItem?.subscriptionStatus === undefined)" class="badge badge-secondary">Cancel</span>
                <span *ngIf="dataItem?.subscriptionStatus?.value === 'ACTIVE' && dataItem.insuranceRefundAmount === 0" class="badge badge-success">{{'insurance-transactions.label-active' | translate }}</span>
                <span *ngIf="dataItem.insuranceRefundAmount > 0" class="badge badge-secondary">{{'insurance-transactions.label-limit' | translate }}</span>
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column title="Action" [width]="120" [class]="{'text-center': true}"
              [columnMenu]="false" filter="boolean">
              <ng-template kendoGridCellTemplate let-dataItem>
                <div class="text-center">
                  <button class="btn btn-warning btn-sm mr-1" (click)="viewDetail(dataItem)">{{'insurance-transactions.label-detail' | translate }}</button>
                  <button class="btn btn-danger btn-sm" (click)="deleteRecord(dataItem)">{{'insurance-transactions.label-delete' | translate }}</button>
                </div>
              </ng-template>
            </kendo-grid-column>
          </kendo-grid-column-group>

          <kendo-grid-pdf fileName="InsuranceBookingList.pdf" [repeatHeaders]="true" paperSize="A3" [allPages]="true"></kendo-grid-pdf>
          <kendo-grid-excel fileName="InsuranceBookingList.xlsx"></kendo-grid-excel>
        </kendo-grid>
      </div>
    </div>
  <!--  <div class="row mt-5" *ngIf="agentBooking && agentBooking.length > 0">
      <div class="col-md-12">
        <kendo-grid [kendoGridBinding]="agentBooking" kendoGridSelectBy="id" [selectedKeys]="mySelection" [pageSize]="10"
          [pageable]="true" [sortable]="true" [reorderable]="true" [resizable]="true" [columnMenu]="{ filter: true }">
          <ng-template kendoGridToolbarTemplate>
            <input placeholder="{{'insurance-transactions.label-searching' | translate }}" kendoTextBox (input)="onFilter($event.target.value)" />
            <span *ngIf="isLoading">
              <div class="spinner-grow spinner-grow-sm text-primary" role="status">
              </div><span ngPreserveWhiteSpaces>&emsp;{{'insurance-transactions.label-loading' | translate }}</span>
            </span>
            <button kendoGridExcelCommand type="button" icon="file-excel" style="float:right;">{{'insurance-transactions.label-excel' | translate }}</button>
            <button kendoGridPDFCommand icon="file-pdf" style="float:right;">{{'insurance-transactions.label-pdf' | translate }}</button>
          </ng-template>

          <kendo-grid-column-group title="{{'insurance-transactions.label-list' | translate }}" [columnMenu]="false">
            <kendo-grid-column title="#" [width]="30" [columnMenu]="false">
              <ng-template let-rowIndex="rowIndex" kendoGridCellTemplate let-dataItem>
                <div>{{rowIndex + 1}}</div>
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="item_name" title="{{'insurance-transactions.label-product-name' | translate }}" [width]="150">
              <ng-template kendoGridCellTemplate let-dataItem>
                <div class="customer-name text-container" ngPreserveWhitespaces>
                  {{ dataItem.item_name | uppercase}} </div>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column  field="id" title="{{'insurance-transactions.label-booking-id' | translate }}" [width]="200">
              <ng-template kendoGridCellTemplate let-dataItem>
                <div class="customer-name text-container" ngPreserveWhitespaces>
                  {{ dataItem.id }}</div>
              </ng-template>
            </kendo-grid-column>
          <!--  <kendo-grid-column field="agent" title="{{'insurance-transactions.label-agent-name' | translate }}" [width]="150">
              <ng-template kendoGridCellTemplate let-dataItem>
                <div class="customer-name text-container" ngPreserveWhitespaces>
                  {{ dataItem?.agent | uppercase }}</div>
              </ng-template>
            </kendo-grid-column>-->
           <!--  <kendo-grid-column field="amount" title="{{'insurance-transactions.label-price' | translate }}" [width]="100">
              <ng-template kendoGridCellTemplate let-dataItem>
                <div>{{dataItem.price?.priceAfterDiscountIncTax  | currency:dataItem.currencyName:'symbol':'.0-2'}}</div>
              </ng-template>
            </kendo-grid-column> 
            <kendo-grid-column field="createDate" title="{{'insurance-transactions.label-date' | translate }}" [width]="120">
              <ng-template kendoGridCellTemplate let-dataItem>
                <div>{{dataItem.createDate | date:'medium'}}</div>
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="guarantees" title="{{'insurance-transactions.label-guarantees' | translate }}" [width]="280"
              [resizable]="true">
              <ng-template kendoGridCellTemplate let-dataItem>
                <div *ngIf="dataItem?.guarantees">
                  <p><strong>{{'insurance-transactions.label-code' | translate }}</strong><em>{{dataItem?.guarantees[0]?.code}}</em></p>
                  <p><strong>{{'insurance-transactions.label-excess' | translate }}</strong><em>{{dataItem?.guarantees[0]?.excess}}</em></p>
                  <p><strong>{{'insurance-transactions.label-limit' | translate }}</strong><em>{{dataItem?.guarantees[0]?.limit}}</em></p>
                </div>
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="status" title="{{'insurance-transactions.label-status' | translate }}" [width]="70" [class]="{'text-center': true}"
              filter="boolean">
              <ng-template kendoGridCellTemplate let-dataItem>
                <span *ngIf="(dataItem?.subscriptionStatus?.value === 'CANCEL') || (dataItem?.subscriptionStatus === undefined)" class="badge badge-secondary">Cancel</span>
               <span *ngIf="dataItem?.subscriptionStatus?.value === 'ACTIVE' && dataItem.insuranceRefundAmount === 0" class="badge badge-success">{{'insurance-transactions.label-active' | translate }}</span>
               <span *ngIf="dataItem.insuranceRefundAmount > 0" class="badge badge-secondary">{{'insurance-transactions.label-limit' | translate }}</span>
             </ng-template>
            </kendo-grid-column>
            <kendo-grid-column title="Action" [width]="120" [class]="{'text-center': true}"
              [columnMenu]="false" filter="boolean">
              <ng-template kendoGridCellTemplate let-dataItem>
                <div class="text-center">
                  <button class="btn btn-warning btn-sm mr-1" (click)="viewDetail(dataItem)">{{'insurance-transactions.label-detail' | translate }}</button>
                  <button class="btn btn-danger btn-sm" (click)="deleteRecord(dataItem)">{{'insurance-transactions.label-delete' | translate }}</button>
                </div>
              </ng-template>
            </kendo-grid-column>
          </kendo-grid-column-group>

          <kendo-grid-pdf fileName="InsuranceAgentBookingList.pdf" [repeatHeaders]="true"></kendo-grid-pdf>
          <kendo-grid-excel fileName="InsuranceAgentBookingList.xlsx"></kendo-grid-excel>
        </kendo-grid>
      </div>
    </div> -->
  </div>
</main>
