<div class="tab-pane fade py-3 m-3 m-md-0 pt-lg-4 active show">
  <form [formGroup]="searchForm" (ngSubmit)="searchHotel()">
    <div class="row">
      <div class="col-10">
        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="icon fa fa-map-marker"></i><span
                  class="d-none d-md-block">&nbsp;{{'dashboard-hotel.label-where' | translate }}</span>
              </span>
            </div>
            <input [(ngModel)]="search" typeaheadOptionField="displayName" [typeahead]="suggestions$"
              formControlName="destination" [typeaheadAsync]="true" [typeaheadOptionsLimit]="limit"
              (typeaheadOnSelect)="select($event.item)" type="search" class="form-control"
              placeholder=" {{'dashboard-hotel.placeholder-where' | translate }}"
              [ngClass]="{ 'is-invalid': formSubmitError && searchForm.get('destination').errors }" />
            <span class="invalid-feedback">
              <span *ngIf="searchForm.get('destination').errors?.required">
                {{'dashboard-hotel.invalid-location' | translate }}
              </span>
              <span *ngIf="searchForm.get('destination').errors?.minlength">
                {{'dashboard-hotel.incorrect-location' | translate }}
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>

    <kendo-daterange class="row" calendarType="classic">
      <div class="col-sm-4">
        <div class="form-group">
          <label class="m-0">{{'dashboard-hotel.label-check-in' | translate }}</label>
          <div class="input-group mb-3">
            <div class="row">
              <div class="input-group-prepend col-sm-1">
                <span class="input-group-text">
                  <i class="icon fa fa-calendar-check-o"></i>
                </span>
              </div>
              <div class="input-group-prepend col-sm-9 ml-0">
                <kendo-dateinput format="dd-MM-yyyy" kendoDateRangeStartInput [min]="minDateStart"
                  [(value)]="checkin_date" placeholder="Check-in Date"></kendo-dateinput>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label class="m-0">{{'dashboard-hotel.label-check-out' | translate }}</label>
          <div class="input-group mb-3">
            <div class="row">
              <div class="input-group-prepend col-sm-1">
                <span class="input-group-text">
                  <i class="icon fa fa-calendar-check-o"></i>
                </span>
              </div>
              <div class="input-group-prepend col-sm-9 ml-0">
                <kendo-dateinput format="dd-MM-yyyy" kendoDateRangeEndInput [(value)]="checkout_date"
                  placeholder="Check-out Date">
                </kendo-dateinput>
              </div>
            </div>
          </div>
        </div>
      </div>
      <kendo-daterange-popup #popup [animate]="{ type: 'fade', duration: 100, direction: 'down' }">
        <ng-template kendoDateRangePopupTemplate>
          <kendo-multiviewcalendar calendarType="classic" kendoDateRangeSelection>
          </kendo-multiviewcalendar>
          <div class="row">
            <div class="col-12 py-1">
              <button class="float-right btn btn-info mr-3" (click)="onChangeCheckOutDate($event, popup)">Done</button>
            </div>
          </div>
        </ng-template>
      </kendo-daterange-popup>
    </kendo-daterange>

    <!-- <input type="text" name="daterangeInput" daterangepicker [options]="options" (selected)="selectedDate($event, daterange)" /> -->
    <div class="new-rooms">
      <div formArrayName="rooms">
        <div class="row" *ngFor="let room of roomsControls; let i = index" [formGroupName]="i">
          <div class="col-2"><b>{{'dashboard-hotel.label-room' | translate }}</b> <span
              class="rcount text-danger border text-center" style="background: #eeeeee;">
              {{i + 1}}</span></div>
          <div class="col-4">
            <div class="form-group">
              <label class="m-0">{{'dashboard-hotel.label-adults' | translate }}</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon fa fa-user">
                    </i></span>
                </div>
                <select class="form-control custom-select" formControlName="adult">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-4 col-sm-3">
            <div class="form-group">
              <label class="m-0">{{'dashboard-hotel.label-children' | translate }}<small
                  class="text-danger"><b>{{'dashboard-hotel.label-child-years' | translate }}</b></small></label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="icon fa fa-child">
                    </i>
                  </span>
                </div>
                <select class="form-control custom-select" formControlName="children">
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-1 d-flex align-items-center align-self-center mt-sm-2 mb-sm-2" *ngIf="i >= 1">
            <div (click)="removeItem(i)" style="cursor: pointer;">
              <i class="fa fa-times-circle"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="add-room" (click)="onAddRoom()" style="cursor:pointer;">
      <i class="fa fa-plus-circle"></i> {{'dashboard-hotel.label-more-rooms' | translate }}
    </div>
    <!-- <div class="form-check mt-3">
      <input class="form-check-input" type="checkbox" id="simulator" formControlName="simulator">
      <label class="form-check-label" for="simulator"> Is Demo
      </label>
    </div> -->
    <input type="submit" name="submit" class="search-hotel btn btn-danger mt-3"
      *ngIf="hotelSupplierSimulator === 'disable'" value="{{'dashboard-hotel.button-find-hotel' | translate }}" />

    <input type="submit" name="submit" class="search-hotel btn btn-danger mt-3"
      *ngIf="hotelSupplierSimulator === 'enable'" value="{{'dashboard-hotel.button-search Simulator' | translate }}" />
  </form>
</div>