<div class="mb-4">
  <h5 class=" border-bottom pl-3 pb-2"><i class="fa fa-list text-default"></i> Sort & Filter</h5>
  <div class="custom-control pl-0">
    <select name="sort" class="form-control custom-select" (change)="onSortChange($event.target.value)">
<!--      <option value="priceIncrease">Price (Lowest)</option>-->
<!--      <option value="priceDecrease">Price (Highest)</option>-->
<!--      <option value="durationIncreasing">Duration (Shotest)</option>-->
<!--      <option value="durationDecreasing">Duration (Longest)</option>-->
<!--      <option value="departureIncreasing">Departure (Earliest)</option>-->
<!--      <option value="departureDecreasing">Departure (Latest)</option>-->
<!--      <option value="arrivalIncreasing">Arrival (Earliest)</option>-->
<!--      <option value="arrivalDecreasing">Arrival (Latest)</option>-->
    </select>
  </div>
</div>
<!--<div class="star-rating pb-4 container">-->
<!--  <h5 class=" border-bottom pl-3 pb-2"><i class="fa fa-star text-default"></i> Stop</h5>-->
<!--  <div class="custom-control custom-checkbox">-->
<!--    <input type="checkbox" class="custom-control-input" (change)="onDirectFilter()" id="direct">-->
<!--    <label class="custom-control-label" for="direct">Direct</label>-->
<!--  </div>-->
<!--  <div class="custom-control custom-checkbox">-->
<!--    <input type="checkbox" class="custom-control-input" (change)="onUpTo1StopFilter()" id="stops">-->
<!--    <label class="custom-control-label" for="stops">Up to 1 stop</label>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="departure py-4 container">-->
<!--  <h5 class="pb-2 border-bottom pl-3 pb-2"><i class="fa fa-star-of-life text-default"></i> Departure Time</h5>-->
<!--  <div class="custom-control custom-checkbox">-->
<!--    <input type="checkbox" class="custom-control-input" id="departure-early-moning">-->
<!--    <label class="custom-control-label" for="departure-early-moning">Early Morning (12am - 5am)</label>-->
<!--  </div>-->
<!--  <div class="custom-control custom-checkbox">-->
<!--    <input type="checkbox" class="custom-control-input" id="departure-moning">-->
<!--    <label class="custom-control-label" for="departure-moning">Morning (5am - 12pm)</label>-->
<!--  </div>-->
<!--  <div class="custom-control custom-checkbox">-->
<!--    <input type="checkbox" class="custom-control-input" id="departure-afternoon">-->
<!--    <label class="custom-control-label" for="departure-afternoon">Afternoon (12pm - 18pm)</label>-->
<!--  </div>-->
<!--  <div class="custom-control custom-checkbox">-->
<!--    <input type="checkbox" class="custom-control-input" id="departure-evening">-->
<!--    <label class="custom-control-label" for="departure-evening">Evening (18pm - 12am)</label>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="arrival py-4 container">-->
<!--  <h5 class="pb-2 border-bottom pl-3 pb-2"><i class="fa fa-star-of-life text-default"></i> Arrival Time</h5>-->
<!--  <div class="custom-control custom-checkbox">-->
<!--    <input type="checkbox" class="custom-control-input" id="arrival-early-morning">-->
<!--    <label class="custom-control-label" for="arrival-early-morning">Early Morning (12am - 5am)</label>-->
<!--  </div>-->
<!--  <div class="custom-control custom-checkbox">-->
<!--    <input type="checkbox" class="custom-control-input" id="arrival-morning">-->
<!--    <label class="custom-control-label" for="arrival-morning">Morning (5am - 12pm)</label>-->
<!--  </div>-->
<!--  <div class="custom-control custom-checkbox">-->
<!--    <input type="checkbox" class="custom-control-input" id="arrival-afternoon">-->
<!--    <label class="custom-control-label" for="arrival-afternoon">Afternoon (12pm - 18pm)</label>-->
<!--  </div>-->
<!--  <div class="custom-control custom-checkbox">-->
<!--    <input type="checkbox" class="custom-control-input" id="arrival-evening">-->
<!--    <label class="custom-control-label" for="arrival-evening">Evening (18pm - 12am)</label>-->
<!--  </div>-->
<!--</div>-->
