.chpage .pbox label{font-size: 14px;}
.chpage .pbox .product-price .priceb{font-size: 25px;}
.chpage .solicitation ul{margin-top: 20px !important;}
.chpage .solicitation ul > li{width: 50%;margin-bottom: 15px;padding:0px  10px;list-style: none;}
.chpage .solicitation ul li ul{margin-top: 5px !important;}
.chpage .solicitation ul li li{width: 100%;padding: 0px ; list-style: circle;}

@media only screen and (max-width: 767px) {
  .chpage .solicitation ul > li{width: 100%;}
}

label {
  margin-left: 0;
}
