<div class="modal-body">
  <form [formGroup]="searchForm" (ngSubmit)="searchHotel()">
    <div class="form-group">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="icon fa fa-map-marker"></i> &nbsp;Going To</span>
        </div>
        <!-- <input id="typeahead-http" type="text" class="form-control" autocomplete="off" formControlName="destination" placeholder="City or Station"/> -->
        <input [(ngModel)]="search" typeaheadOptionField="displayName" [typeahead]="suggestions$" formControlName="destination"
        [typeaheadAsync]="true" [typeaheadOptionsLimit]="limit" (typeaheadOnSelect)="select($event.item)" type="search"
        class="form-control" placeholder="City or Station" [ngClass]="{ 'is-invalid': formSubmitError && searchForm.get('destination').errors }">
        <span class="invalid-feedback">
          <span *ngIf="searchForm.get('destination').errors?.required">
            Please enter your City or Station.
          </span>
          <span *ngIf="searchForm.get('destination').errors?.minlength">
            City or Station must be longer than 3 characters.
          </span>
        </span>
      </div>
    </div>
    <kendo-daterange class="row">
      <div class="col-6">
        <div class="form-group">
          <label class="m-0">Check-in</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="icon fa fa-calendar-check-o"></i>
              </span>
            </div>
            <kendo-dateinput format="dd-MM-yyyy" style="width: 75%; font-size:20px;" kendoDateRangeStartInput [(value)]="checkin_date"
              placeholder="Check-in Date"></kendo-dateinput>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label class="m-0">Check-out</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="icon fa fa-calendar-check-o"></i>
              </span>
            </div>
            <kendo-dateinput format="dd-MM-yyyy" style="width: 75%;font-size:20px;" kendoDateRangeEndInput [(value)]="checkout_date"
              placeholder="Check-out Date">
            </kendo-dateinput>
          </div>
        </div>
      </div>
    </kendo-daterange>
    <div class="new-rooms">
      <div formArrayName="rooms">
        <div class="row" *ngFor="let room of roomsControls; let i = index" [formGroupName]="i">
          <div class="col-2"><b>Room</b> <span class="rcount text-danger border text-center"
              style="background: #eeeeee;">
              {{i + 1}}</span></div>
          <div class="col-4 col-sm-3">
            <div class="form-group">
              <label class="m-0">Adults</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon fa fa-user">
                    <!-- <fa-icon [icon]="faUser"></fa-icon> -->
                  </i></span>
                </div>
                <select class="form-control custom-select" formControlName="adult">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-4 col-sm-3">
            <div class="form-group">
              <label class="m-0">Children<small class="text-danger"><b>(2-12yrs)</b></small></label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                  <i class="icon fa fa-child">
                    <!-- <fa-icon [icon]="faChild"></fa-icon> -->
                  </i>
                  </span>
                </div>
                <select class="form-control custom-select" formControlName="children">
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-2 d-flex align-items-center" *ngIf="i >= 1">
            <div (click)="removeItem(i)" style="cursor: pointer;">
              <i class="fa fa-times-circle"></i>
              <!-- <fa-icon [icon]="faTrashAlt" size="md"></fa-icon> -->
              <!-- Remove -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="add-room" (click)="onAddRoom()" style="cursor:pointer;">
      <i class="fa fa-plus-circle"></i> Add more rooms
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="closeModal()">Close</button>
  <button type="button" class="btn btn-danger" (click)="submit()" [disabled]="searchForm.invalid">Find Hotels</button>
</div>
