<div class="container my-5 pt-5" *ngIf="!fetching ">
  <div class="row mt-4">
    <div *ngIf="fetchFailed">
      <alert type="danger" ngPreserveWhitespaces>
        {{'combine-booking-info.label-error' | translate }}&emsp;<strong>{{errorMes}}</strong>
      </alert>
    </div>
    <div class="flights-list col-md-8 offset-2" *ngIf="!fetchFailed">
      <div class="shadow-box blue-bg mb-3">
        <h5 class="text-danger mx-3 py-3 mb-0">
          {{'combine-booking-info.label-summary' | translate }}<br>
          <small class="text-secondary font-weight-light">{{'combine-booking-info.label-rules' | translate }}</small>
          <span class="summary-price">
            {{'combine-booking-info.label-cost' | translate }}
            <b>{{(totalTripPrice || 0) | currency: currency :'symbol':'.0-2'}}</b>
          </span>
        </h5>
      </div>
      <app-hotel-select-summary [selectedHotel]="selectedHotel" [selectedRoom]="selectedRoom"
        [numberOfNight]="numberOfNight" [searchHotelListRequest]="searchHotelListRequest" [changeLink]="changeLink"></app-hotel-select-summary>

      <div class="shadow-box blue-bg mb-3">
        <h5 class="text-danger mx-3 pt-3 mb-0">
          {{'combine-booking-info.label-departure' | translate }}
          <small class="font-weight-light float-right" style="color: #444; padding-top: 3px;">
            {{departureFlight?.flight?.depDateTime?.split(' ')[0] | date:'EEE dd, MMM'}} | <a class="text-danger"
              routerLink="/flight">{{'combine-booking-info.label-change' | translate }}</a>
          </small>
        </h5>
        <div class="row">
          <div *ngIf="!aeroProvider" class="col-md-9 col-7">
            <div *ngFor="let segment of departureFlight?.flight?.flightSegments;let i= index;">
              <div class="row">
                <div class="col-md-7 col-12">
                  <div class="px-3 pt-3">
                    <h5 class="flight-title">{{segment?.depDateTime | date: 'h:mm'}} -
                      {{segment?.arrDateTime | date: 'h:mm'}}</h5>
                    <p class="title"><img
                        [src]="'http://pics.avs.io/300/300/' + segment?.airline.split('-')[0] + '.png'"
                        style="width:30px;">
                      {{segment?.airline?.split('-')[1]}}
                    </p>
                  </div>
                </div>
                <div class="col-md-5 d-none d-md-block px-3 pt-3">
                  <div class="text-muted" style="font-weight: bold;">{{segment?.duration}}
                  </div>
                  <p class="text-muted">{{segment?.depAirportCode}} -
                    {{segment?.arrAirportCode}}</p>
                </div>
              </div>
            </div>
            <div class="px-3 pb-3">
              {{departureFlight?.flight.offerItemList[0].serviceNames}}
            </div>
          </div>
          <div *ngIf="aeroProvider" class="col-md-9 col-7">
            <div class="row">
              <div class="col-md-7 col-12">
                <div class="px-3 pt-3">
                  <h5 class="flight-title">{{departureFlight?.flight?.depDateTime | date: 'h:mm'}} -
                    {{departureFlight?.flight?.arrDateTime | date: 'h:mm'}}</h5>
                  <p class="title"><img [lazyLoad]="departureFlight?.flight?.flightSegments[0]?.airlineLogo" [errorImage]="defaultAirlineLogo" [defaultImage]="defaultAirlineLogo"
                      style="width:30px;">
                    {{departureFlight?.flight?.flightSegments[0]?.airline}}
                  </p>
                </div>
              </div>
              <div class="col-md-5 d-none d-md-block px-3 pt-3">
                <div class="text-muted" style="font-weight: bold;">{{'Direct'}}
                </div>
                <p class="text-muted">{{departureFlight?.flight?.depAirportCode}} -
                  {{departureFlight?.flight?.arrAirportCode}}</p>
              </div>
            </div>
            <div class="px-3 pb-3">
              {{departureFlight?.flight.offerItemList[0].serviceNames}}
            </div>
          </div>
          <div class="col-md-3 col-5 p-3 pr-4">
            <div class="text-right">
              <span class="flight-price">{{departureFlight?.offerItem?.totalAmount | currency: currency
                :'symbol':'.0-2'}}</span><br>
              <p style="font-size: 12px;margin-bottom:3px;">{{'combine-booking-info.label-fees' | translate }}</p>
            </div>
          </div>
          <div class="col-md-12 collapsed" (click)="isCollapsed[0] = !isCollapsed[0]">
            <p class="px-3 py-2 m-0" style="color:#007864; cursor:pointer; border-top:1px solid #ccc; ">
              <!-- <span style="color:#007864;">Some text here</span> -->
              <span class="float-right">{{'combine-booking-info.label-details' | translate }}</span>
            </p>
          </div>
          <div id="collapse0" class="col-12 collapse" [collapse]="isCollapsed[0]" [isAnimated]="true">
            <div class="row">
              <div class="col-md-6">
                <div *ngFor="let segment of departureFlight?.flight?.flightSegments; let i = index" class="m-3 pl-3"
                  style="border-left:1px solid #eee072;">
                  <div class="flight-cart-start"></div>
                  <p><strong>{{'combine-booking-info.label-from' | translate }}</strong>
                    {{segment?.depAirportCode}}&emsp;{{segment?.depAirportName}}<br>
                    <strong>{{'combine-booking-info.label-to' | translate }}</strong>
                    {{segment?.arrAirportCode}}:&emsp;{{segment?.arrAirportName}}
                  </p>
                  <p>{{segment?.airline.split('-')[1]}}<br>
                    {{segment?.aircraft}} Aircraft: {{segment?.flightNumber}} |
                    {{'combine-booking-info.label-breakfast' | translate }}<br>
                    {{segment?.marketingName}}<br>
                    {{segment?.depDateTime}} -> {{segment?.arrDateTime}}<br>
                    ({{segment?.duration}})</p>
                  <p><strong>{{'combine-booking-info.label-total' | translate }}</strong> {{segment.distance}}</p>
                  <div class="flight-cart-end"></div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="p-3">
                  <p><strong>{{'combine-booking-info.label-bags' | translate }}</strong><br>
                    {{'combine-booking-info.label-no-fee' | translate }}<br>
                    {{'combine-booking-info.label-no-fee' | translate }}<br>
                    {{'combine-booking-info.label-no-fee' | translate }}<br>
                    <!-- Confirm bags fees, weight and size restrictions with <span>Ethopian Airlines</span></p> -->
                </div>
              </div>
              <!-- <p class="text-muted">{{segment?.depAirportCode}} -
                {{segment?.arrAirportCode}}</p> -->
            </div>
          </div>
        </div>
      </div>

      <button class="btn btn-danger float-right px-5 btn-lg mb-4" (click)="goToPayment()">{{'combine-booking-info.button-booking' |
        translate }}</button>
    </div>
  </div>
</div>
<app-combine-summary-skeleton *ngIf="fetching"></app-combine-summary-skeleton>
