agm-map {
    height:300px; /* height is required */ }
  .hotel-image {
    max-height: 200px;
  }
  .loading-space {
    padding-top: 150px;
    margin-bottom: 80px;
  }
  
  .hotel-img {
    float: left;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center center;
  }
  
  .hotel-img-item {
    overflow: hidden;
    max-height: 180px;
  }
  