<div class="footer p-4">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-4 text-light mb-5">
          <h4 class="text-left">{{'main-footer.latest-news' | translate }}</h4>
          <div class="text-left">
            <p>{{'main-footer.service-info' | translate }}</p>
          </div>
        </div>
        <div class="col-12 col-sm-5 text-light text-center">
          <form [formGroup]="emailForm" >
          <h4 class="text-left">{{'main-footer.label-email' | translate }}</h4>
          <br/>
          <div class="text-left">
            <div class="row">
              <div class="col-10">
                <div class="form-group">
                  <input type="email" formControlName="email" class="form-control"  placeholder="{{'main-footer.placeholder-email' | translate }}" style="font-size:13px;">
                </div>
              </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <button class="btn btn-danger" (click)="subscribe()" type="button">{{'main-footer.label-subscribe' | translate }}</button>
                </div>
              </div>
          </div>
        </form>
        </div>
        <div class="col-12 col-sm-3 text-light">
          <h4 class="text-left">{{'main-footer.label-contact' | translate }}</h4>
          <div class="text-left">
            <p [innerHTML]="'main-footer.label-address' | translate"></p>
          </div>
          <div class="text-left" ngPreserveWhitespaces>
            <a href = "https://www.facebook.com/Flotravel-MENA-113088888058791/" target="_blank" style="color:#fff;"><i class="fa fa-facebook-official"></i></a> &nbsp;
            <a href = "https://twitter.com/Flotravel3" target="_blank" style="color:#fff;"><i class="fa fa-twitter"></i></a>&nbsp;
            <a href = "https://www.instagram.com/flotravel_ltd/" target="_blank" style="color:#fff;"><i class="fa fa-instagram"></i></a>&nbsp;
          </div>
        </div>
      </div>
    </div>
  </div>