<div class="container">
  <div class="col-sm-8 offset-sm-2">
    <div class="card">
      <div class="card-header">
        {{'hotel-rule-edit.lable-header' | translate }}
      </div>
      <div class="card-body">
        <form [formGroup]="agentForm">
          <div class="form-group row">
            <label for="address">{{'hotel-rule-create.label-address' | translate }}</label>
            <input [(ngModel)]="search" typeaheadOptionField="displayName" [typeahead]="suggestions$" readonly
              formControlName="cityName" [typeaheadAsync]="true" [typeaheadOptionsLimit]="limit"
              (typeaheadOnSelect)="select($event.item)" class="form-control"
              [ngClass]="{ 'is-invalid': formSubmitError && agentForm.get('cityName').errors }" />
            <span class="invalid-feedback">
              <span *ngIf="agentForm.get('cityName').errors?.required">
                {{'dashboard-hotel.invalid-location' | translate }}
              </span>
              <span *ngIf="agentForm.get('cityName').errors?.minlength">
                {{'dashboard-hotel.incorrect-location' | translate }}
              </span>
            </span>
          </div>
          <!-- <div class="form-group row">
            <label for="logo">{{'hotel-rule-create.label-country' | translate }}</label>
            <input formControlName="countryName" [typeahead]="countries" [typeaheadItemTemplate]="customItemTemplate"
              typeaheadOptionField="name" [typeaheadOptionsLimit]="7" [typeaheadMinLength]="0" type="text"
              class="form-control" placeholder="" (typeaheadOnSelect)="getCountryCode($event.item)"
              [ngClass]="{ 'is-invalid': formSubmitError && agentForm.get('country').errors }" />
            <span class="invalid-feedback">
              <span *ngIf="agentForm.get('countryName').errors?.required">
                {{'flight-checkout.invalid-country' | translate }}
              </span>
              <ng-template #customItemTemplate let-model="item" let-index="index">
                {{model.name}}, {{model.code}}
              </ng-template>
            </span>
          </div> -->
          <div class="form-group row">
            <label for="providers"> {{'hotel-rule-create.lable-providers' | translate }}</label>
            <input class="form-control" id="providers" formControlName="providers" readonly
              [ngClass]="{ 'is-invalid': formSubmitError && agentForm.get('providers').errors }">
            <span class="invalid-feedback">
              <span *ngIf="agentForm.get('providers').errors?.required">
                {{'hotel-rule-create.invalid-website' | translate }}
              </span>
            </span>
          </div>
          <div class="form-group">
            <label class="m-0">HotelPreferenceIncludes</label>
            <tag-input formControlName="hotelPreferenceIncludes" [onlyFromAutocomplete]="true" theme='bootstrap' aria-readonly="true"
              [placeholder]="'Hotel PreferenceIncludes'" displayBy="hotelName" identifyBy="hotelCode">
              <tag-input-dropdown [showDropdownIfEmpty]="true" displayBy="hotelName" identifyBy="hotelCode"
                [autocompleteObservable]="hotelListAutoComplete">
              </tag-input-dropdown>
            </tag-input>
          </div>
          <div class="form-group">
            <label class="m-0">HotelPreferenceExcludes</label>
            <tag-input formControlName="hotelPreferenceExcludes" [onlyFromAutocomplete]="true" theme='bootstrap' aria-readonly="true"
              [placeholder]="'Hotel PreferenceExcludes'" displayBy="hotelName" identifyBy="hotelCode">
              <tag-input-dropdown [showDropdownIfEmpty]="true" displayBy="hotelName" identifyBy="hotelCode"
                [autocompleteObservable]="hotelListAutoComplete">
              </tag-input-dropdown>
            </tag-input>
          </div>
          <!-- <div class="form-group">
            <label class="m-0">StarPreferences</label>
            <tag-input formControlName="starPreferences" [onlyFromAutocomplete]="true" theme='bootstrap'
              [placeholder]="'StarPreferences'" displayBy="code" identifyBy="id">
              <tag-input-dropdown [showDropdownIfEmpty]="true" displayBy="code" identifyBy="id"
                [autocompleteObservable]="starListAutoComplete">
              </tag-input-dropdown>
            </tag-input>
          </div> -->
        </form>
      </div>
    </div>
  </div>
</div>
