<!-- Brand Logo -->
<a routerLink="/wallet" class="brand-link">
  <img src="../../../../assets/logo2.png" alt="Logo" class="brand-image img-circle elevation-3" style="opacity: 0.8" />
  <span class="brand-text font-weight-light">Flotravel Package</span>
</a>

<!-- Sidebar -->
<div class="sidebar">
  <!-- Sidebar user (optional) -->
<!--  <div class="user-panel mt-3 pb-3 mb-3 d-flex">-->
<!--    <div class="image">-->
<!--      <img [src]="user?.profileImg || 'assets/logo.png'" class="img-circle elevation-2" alt="User Image" />-->
<!--    </div>-->
<!--    <div class="info">-->
<!--      <a routerLink="/wallet/profile" class="d-block">-->
<!--&lt;!&ndash;        {{accountProfile?.user?.email ||  user?.email }}&ndash;&gt;-->
<!--      </a>-->
<!--    </div>-->
<!--  </div>-->

  <nav class="mt-2" style="overflow-y: hidden">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <li class="nav-tem">
        <a routerLink="/specialPackagesProvider/region" class="nav-link">
          <i class="fa fa-fw fa-arrow-right"></i>
          <p>&nbsp;Region List
          </p>
        </a>
      </li>
      <li class="nav-tem">
        <a routerLink="/specialPackagesProvider/hotel" class="nav-link">
          <i class="fa fa-fw fa-hotel"></i>
          <p>&nbsp;Hotel List
          </p>
        </a>
      </li>
      <li class="nav-tem">
        <a routerLink="/specialPackagesProvider/hotelRoom" class="nav-link">
          <i class="fa fa-fw fa-arrow-right"></i>
          <p>&nbsp;Room Type
          </p>
        </a>
      </li>
      <li class="nav-tem">
        <a routerLink="/specialPackagesProvider/packageList" class="nav-link">
          <i class="fa fa-fw fa-arrow-right"></i>
          <p>&nbsp;PackageInfo List
          </p>
        </a>
      </li>
      <li class="nav-tem">
        <a routerLink="/specialPackagesProvider/packageAvailability" class="nav-link">
          <i class="fa fa-fw fa-arrow-right"></i>
          <p>&nbsp;Package Availability
          </p>
        </a>
      </li>
      <li class="nav-tem">
        <a routerLink="/specialPackagesProvider/tour" class="nav-link">
          <i class="fa fa-fw fa-arrow-right"></i>
          <p>&nbsp;Optional Tour List
          </p>
        </a>
      </li>
      <li class="nav-tem">
        <a routerLink="/specialPackagesProvider/supplement" class="nav-link">
          <i class="fa fa-fw fa-arrow-right"></i>
          <p>&nbsp;Supplement List
          </p>
        </a>
      </li>
      <li class="nav-tem">
        <a routerLink="/specialPackagesProvider/transfer" class="nav-link">
          <i class="fa fa-fw fa-arrow-right"></i>
          <p>&nbsp;Transfer List
          </p>
        </a>
      </li>
      <li class="nav-tem">
        <a routerLink="/specialPackagesProvider/hotelFacility" class="nav-link">
          <i class="fa fa-fw fa-hotel"></i>
          <p>&nbsp;Hotel Facility
          </p>
        </a>
      </li>
     <!-- <li class="nav-tem">
        <a routerLink="/dashboard" class="nav-link">
          <i class="fa fa-fw fa-sign-out"></i>
          <p>&nbsp;Logout</p>
        </a>
      </li> -->
    </ul>
  </nav>
</div>

