.we-body {
  padding-top: 10px;
}
.menu-dropdown {
  width: 270px;
  height: auto;
  box-sizing: border-box;
  border-radius: 0px 0px 8px 8px;
  position: absolute;
  left: 10px;
  top: 30px;
  box-shadow: 1px 4px 12px rgba(26, 28, 38, 0.1);
  background-color: white;
  z-index: 99;
  display: inline-block;
  min-width: 120px;
  margin-left: 14px;
}

.menu-dropdown-mobile {
  width: 270px;
  overflow: hidden;
  height: auto;
  box-sizing: border-box;
  border-radius: 0px 0px 8px 8px;
  position: absolute;
  left: -40px;
  float: left;
  top: 30px;
  box-shadow: 1px 4px 12px rgba(26, 28, 38, 0.1);
  background-color: white;
  z-index: 1000;
  display: block;
  min-width: 120px;
  margin-left: 14px;
}

.small-date {
  font-weight: 400 !important;
}

label {
  margin-left: 0px;
}

#select-box-btns {
  white-space: nowrap;
}

::ng-deep .dropdown-menu {
  max-width: none !important;
}
::ng-deep .k-input-inner {
  width: 100% !important;
  border: none !important;
  height: 100% !important;
  background-color: transparent;
  padding: 6px !important;
}
::ng-deep kendo-datepicker {
  padding: 0px !important;
}

::ng-deep kendo-dateinput {
  width: 100% !important;
  height: 100% !important;
}

::ng-deep .k-input-button {
  display: none;
}
.k-dateinput {
  font-size: 18px;
  background-color: #eeeeee !important;
}
.k-dateinput-wrap {
  background-color: #eeeeee !important;
}
::ng-deep .k-input-inner{
  width: 100% !important;
  border: 0.888889px solid rgb(206, 212, 218) !important;
  height: 100% !important;
  background-color: transparent;
}
.js-checkin{
  width: 100px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
