<div class="container my-md-5 mt-5 pt-5 pb-3">
    <div class="row">
        <div class="col-md-8 order-2 order-md-1 mt-4">
            <h3 class="title">{{'ancillaries-refund-protect.title' | translate }}</h3>
            <p style=" color: #666666;font-size: 16px; margin-bottom: 10px; line-height: 30px;">
                {{'ancillaries-refund-protect.paragraph-one' | translate }}
            </p>
            <p style=" color: #666666;font-size: 16px; margin-bottom: 5px; line-height: 30px;"> 
                {{'ancillaries-refund-protect.paragraph-two' | translate }}
               </p>
               <ul class="mb-4" style=" color: #666666;font-size: 16px; margin-bottom: 10px; line-height: 30px;">
                   <li>{{'ancillaries-refund-protect.link-benefit-one' | translate }}</li> 
                   <li>{{'ancillaries-refund-protect.link-benefit-two' | translate }}</li>
                   <li>{{'ancillaries-refund-protect.link-benefit-three' | translate }}</li>
                   <li>{{'ancillaries-refund-protect.link-benefit-four' | translate }}</li>
                </ul>
        </div>
    </div>
</div>