<div class="modal-content">
  <div class="modal-header bg-blue">
    <h4 class="modal-title" id="modal-basic-title">{{'privacy-policy.title' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
      <div id="left_content">
        <h2>{{'privacy-policy.main-heading' | translate }}</h2>
        <p> {{'privacy-policy.paragraph-one' | translate }}</p>
        <h5 class="mb-3">{{'privacy-policy.paragraph-two' | translate }}</h5>  
        <h5 class="mt-5">{{'privacy-policy.paragraph-three' | translate }}</h5>   
        <p class="mb-3">{{'privacy-policy.paragraph-four' | translate }}</p> 
        <ul class="mb-4">
          <li>{{'privacy-policy.personal-info-one' | translate }}</li> 
          <li>{{'privacy-policy.personal-info-two' | translate }} </li>
          <li>{{'privacy-policy.personal-info-three' | translate }}</li>
          <li>{{'privacy-policy.personal-info-four' | translate }}</li>
          <li>{{'privacy-policy.personal-info-five' | translate }}</li>
       </ul>
       <h5 class="mt-5">{{'privacy-policy.paragraph-five' | translate }}</h5>  
       <p class="mb-3"> {{'privacy-policy.paragraph-six' | translate }}</p>
       <ul class="mb-4">
        <li>{{'privacy-policy.flocash-service-info-one' | translate }}</li> 
        <li>{{'privacy-policy.flocash-service-info-two' | translate }} </li>
        <li>{{'privacy-policy.flocash-service-info-three' | translate }}</li>
        <li>{{'privacy-policy.flocash-service-info-four' | translate }}</li>
        <li>{{'privacy-policy.flocash-service-info-five' | translate }}</li>
        <li>{{'privacy-policy.flocash-service-info-six' | translate }}</li> 
        <li>{{'privacy-policy.flocash-service-info-seven' | translate }} </li>
        <li>{{'privacy-policy.flocash-service-info-eight' | translate }}</li>
        <li>{{'privacy-policy.flocash-service-info-nine' | translate }}</li>
     </ul> 
     <p class="mb-1"> {{'privacy-policy.paragraph-seven' | translate }}</p>
     <p class="mb-1"> {{'privacy-policy.paragraph-eight' | translate }}</p>
     <h5 class="mt-5">{{'privacy-policy.paragraph-nine' | translate }}</h5>  
     <p class="mb-1"> {{'privacy-policy.paragraph-ten' | translate }}</p>
     <p class="mb-1"> {{'privacy-policy.paragraph-eleven' | translate }}</p>
     <p class="mb-1"> {{'privacy-policy.paragraph-twelve' | translate }}</p>
     <h5 class="mt-5"> {{'privacy-policy.paragraph-thirteen' | translate }}</h5>
     <p class="mb-1"> {{'privacy-policy.paragraph-fourteen' | translate }}</p>
     <p class="mb-1"> {{'privacy-policy.paragraph-fifteen' | translate }}</p>
     <h5 class="mt-5">{{'privacy-policy.paragraph-sixteen' | translate }}</h5>  
     <p class="mb-1"> {{'privacy-policy.paragraph-seventeen' | translate }}</p>
     <p class="mb-1"> {{'privacy-policy.paragraph-eighteen' | translate }}</p>
     <h5 class="mt-5">{{'privacy-policy.paragraph-nineteen' | translate }}</h5>  
     <p class="mb-1"> {{'privacy-policy.paragraph-twenty' | translate }}</p>
     <p class="mb-1"> {{'privacy-policy.paragraph-twenty-one' | translate }}</p>
     <h5 class="mt-5">{{'privacy-policy.paragraph-twenty-two' | translate }}</h5>  
     <p class="mb-1"> {{'privacy-policy.paragraph-twenty-three' | translate }}</p>
     <p class="mb-1"> {{'privacy-policy.paragraph-twenty-four' | translate }}</p>
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="closeModal()">
      <i class="fa fa-times" aria-hidden="true"></i> {{'privacy-policy.button-close' | translate }}
    </button>
  </div>
</div>
