<main role="main">
  <div class="container mb-md-5 mt-5 pt-4 pb-3 d-md-block px-3 p-0">
    <div class="row hotel-details">
      <div class=" col-md-10">
        <div class="col-12 d-block d-md-none mb-3">
          <div class="font-weight-bold mt-3">{{searchTourForm?.destination ||'Search your destination'}}</div>
          <div class="my-2">{{searchTourForm?.startTime | date: 'MMM d'}} - {{searchTourForm?.endTime | date: 'MMM d'}},
            {{searchTourForm?.startTime | date: 'y'}}, {{searchTourForm?.adultsCount || 1}}
            {{'tour-details.label-adults' | translate }}</div>
          <div class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal"
            style="cursor: pointer;border: 1px solid;" (click)="openModalWithComponent()">
            {{'tour-details.label-change' | translate }}
          </div>
        </div>
        <div class="col-md-12 mt-md-4">
          <div class="shadow-box p-3">
            <div class="row">
              <div class="col-md-9">
                <img class="img-fluid d-block d-md-none mb-4" [src]="selectedTour?.imgUrl">
                <h2 class="title">{{selectedTour?.name}}</h2>
                <div class="address">
                  <span><i class="fa fa-map-marker"></i> {{selectedTour?.destination}}</span><br>
                </div>
              </div>
              <div class="col-md-3 mt-3 mt-md-0">
                <p class="price"><small>{{'tour-details.label-price' | translate }}</small> <span
                    style="font-size:25px;">{{selectedTour?.price | currency: 'USD':'symbol':'.0-2'}}</span></p>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-md-8 d-none d-md-block">
                <ngx-gallery *ngIf="galleryOptions && galleryImages.length" [options]="galleryOptions"
                  [images]="galleryImages"></ngx-gallery>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <div class="">
                    <span style="width:30px; display: inline-block;" class="text-center my-1" ngPreserveWhitespaces>
                      <i class="fa fa-clock-o"></i></span>&emsp; {{'tour-details.label-duration' | translate }}
                    {{selectedTour?.duration}}<br>
                    <span style="width:30px; display: inline-block;" class="text-center my-1" ngPreserveWhitespaces>
                      <i class="fa fa-check"></i></span>&emsp; {{'tour-details.label-cancellation' | translate }}
                    {{selectedTour?.cancellation}}<br>
                    <span style="width:30px; display: inline-block;" class="text-center my-1" ngPreserveWhitespaces>
                      <i class="fa fa-credit-card"></i></span>&emsp; {{'tour-details.label-fees' | translate }}<br>
                    <span style="width:30px; display: inline-block;" class="text-center my-1" ngPreserveWhitespaces>
                      <i class="fa fa-mobile"></i></span>&emsp; {{'tour-details.label-voucher' | translate }}<br>
                    <span style="width:30px; display: inline-block;" class="text-center my-1" ngPreserveWhitespaces>
                      <i class="fa fa-comments"></i></span>&emsp; {{'tour-details.label-english' | translate }}<br>
                    <span style="width:30px; display: inline-block;" class="text-center my-1" ngPreserveWhitespaces>
                      <i class="fa fa-building"></i></span>&emsp; {{'tour-details.label-hotels' | translate }}<br>
                  </div>
                  <h5 style="font-size: 18px;" class="my-4">{{'tour-details.label-highlights' | translate }}</h5>
                  <ul class="hotel-facilities mb-0 mr-3">
                    <li>{{'tour-details.label-highlights1' | translate }}</li>
                    <li>{{'tour-details.label-highlights2' | translate }}</li>
                    <li>{{'tour-details.label-highlights3' | translate }}</li>
                    <li>{{'tour-details.label-highlights4' | translate }}</li>
                    <li>{{'tour-details.label-highlights5' | translate }}</li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="mt-3 p-3 shadow-box">
            <ul class="nav nav-tabs border-0">
              <li *ngFor="let package of extraDetailData.extraPackageAvailability">
                <button (click)="changePackageAvailability(package)"
                  [ngClass]="{'active': package.id === selectedPackageAvailability}">
                  <span>{{package.date | date: 'EEE, MMM d'}}</span><br />
                  <span>$45</span>
                </button>
              </li>
            </ul>
          </div>
          <div class="tour-list mt-4">
            <div class="shadow-box p-3 mb-3" *ngFor="let schedule of schedulesView; let i = index;">
              <div class="row">
                <div class="col-8 room-info">
                  <h6 style=" color: #666;">{{schedule?.fromTime}} - {{schedule?.toTime}}, {{schedule?.title}}</h6>
                  <p><i class="fa fa-clock"></i> {{schedule?.description}}</p>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label style="font-weight:700;">{{'tour-details.label-adult' | translate }} <small>11 - 60
                            {{'tour-details.label-yrs' | translate }}</small></label>
                        <div class="form-field">
                          <select type="text" class="form-control" (change)="updateAdultsCount($event.target.value, i)">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label style="font-weight:700;">{{'tour-details.label-child' | translate }} <small>3 - 10
                            {{'tour-details.label-yrs' | translate }}</small></label>
                        <div class="form-field">
                          <select type="text" class="form-control"
                            (change)="updateChildrenCount($event.target.value, i)">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 text-right">
                  <div>
                    <i class="fa fa-check"></i> {{'tour-details.label-free-cancel' | translate }} <small
                      class="text-muted"> {{'tour-details.label-valentines' | translate }}</small><br>
                    <i class="fa fa-check mb-1"></i> {{'tour-details.label-credit-card' | translate }}
                  </div>
                  <div class="mt-5"><del>{{selectedTour.price | currency:'USD': 'symbol':'.0-2'}}</del> &nbsp;</div>
                  <button (click)="goToCart(schedule)" class="btn btn-danger">{{'tour-details.label-book-for' |
                    translate }} {{schedule.totalPrice | currency: 'USD':'symbol':'.0-2'}}</button>
                  <div style="font-size:10px;">{{'tour-details.label-2-minutes' | translate }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-3 p-3 shadow-box">
            <h4 class="title">{{'tour-details.label-facility' | translate }} </h4>
            <p [innerHTML]="selectedTour?.highlights"></p>
          </div>
          <div class="mt-4 p-3 shadow-box">
            <h4 class="title">{{'tour-details.label-location' | translate }} </h4>
            <p [innerHTML]="selectedTour?.description"></p>
          </div>
          <div class="my-4 p-3 shadow-box">
            <h4 class="title">{{'tour-details.label-attraction' | translate }} </h4>
            <p [innerHTML]="selectedTour?.includes"></p>
          </div>
        </div>
      <div class="shadow-box p-3 mb-3">
        <div class="row">
          <div class="col-md-6">
            <agm-map [latitude]='latitude' [longitude]='longitude' [mapTypeId]='mappType' [zoom]='12'
              mapTypeControl="true" [disableDefaultUI]="false">
              <agm-marker [latitude]="marker.lat" [longitude]="marker.lng" [title]="marker.label"
                [markerDraggable]="marker.draggable">
                <agm-info-window>
                  <strong>{{marker.label}}</strong>
                </agm-info-window>
              </agm-marker>
            </agm-map>
          </div>
          <div class="col-md-6">
            <h6 style=" color: #001959; font-size: 20px;" class="mb-2">{{'tour-details.label-camp' | translate }}p</h6>
            <p ngPreserveWhitespaces><i class="fa fa-bullseye"></i>&emsp;<strong
                class="text-danger">{{'tour-details.label-activities' | translate }}</strong></p>
            {{selectedTour?.destination}}<br>
            <p ngPreserveWhitespaces><i class="fa fa-map"></i>&emsp;<strong
                class="text-primary">{{'tour-details.label-point' | translate }}</strong></p>
            {{selectedTour?.name}}<br>
            {{selectedTour?.itinerary}}<br><br>
          </div>
        </div>
      </div>
    </div>
      <div class=" col-md-2 d-none d-lg-block we-ads">
        <img class="img-fluid" src="assets/ads.jpg">
      </div>
    </div>
  </div>
</main>